# Importazione dei moduli necessari+definizione variabili

In [1]:
from import_dataset import *
from analyze_df import *
from manipulate_df import *
from DB_connection import *

In [ ]:
path='/Users/francescacipolla/Desktop/dblp1.json'
data='_source'

# Controllo il numero di linee del Json

In [3]:
count_lines=sum(1 for line in open(path))
count_lines

4894063

# paper_df

## Inizializzazione del DataFrame vuoto+inserimento degli elementi del Json nel DataFrame

In [3]:
paper_df=initialize()

#legge il json ed inserisce gli elementi del json nel DataFrame, rimuove le colonne authors e fos
paper_df=read_json(paper_df,path,data,['authors','fos'])

## Analisi di paper_df

In [4]:
paper_df

,id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,...,nb_references,venue.raw,venue.id,venue.type,author.name,author.id,author.org,fos.name,fos.w,alias_ids
0,339090091,Document Classification with Recommendation Ar...,2002,0,,,Conference,,,,...,0,Australasian Document Computing Symposium,1147924868.0,C,,,,NaN,NaN,NaN
1,339107753,Linking Operational Semantics and Algebraic Se...,2013,0,380,396,Conference,"Springer, Berlin, Heidelberg",,,...,10,International Conference on Formal Engineering...,1133365479.0,C,,,,NaN,NaN,NaN
2,339147017,"On (p, q)-analogue of Bernstein operators",2015,114,874,882,Journal,Elsevier,266,,...,8,Applied Mathematics and Computation,50372074.0,J,,,,NaN,NaN,NaN
3,339159418,On the Number of Permutations Performable by E...,1987,0,461,470,Conference,,,,...,0,International Conference on Parallel Processing,1155899826.0,C,,,,NaN,NaN,NaN
4,337814053,Leveraging MARF for the Simulation of Securing...,2009,0,46,,,,,,...,0,HSC,NaN,NaN,,,,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4894058,998678108,IEEE Seventh International Conference on Softw...,2014,0,,,,,,,...,0,,,,NaN,NaN,NaN,NaN,NaN,NaN
4894059,99934447,Globalization of Consumer E-Commerce,2005,0,1293,1298,Conference,IGI Global,,,...,0,Encyclopedia of Information Science and Techno...,2755063974,C,NaN,NaN,NaN,NaN,NaN,NaN
4894060,99981893,Matrix-Padé fractions,1987,0,438,449,Conference,"Springer, Berlin, Heidelberg",,,...,2,European Conference on Computer Algebra,2756322194,C,NaN,NaN,NaN,NaN,NaN,NaN
4894061,998260344,Deep Learning for Single-View Instance Recogni...,2015,11,,,Repository,,,,...,48,arXiv: Computer Vision and Pattern Recognition,2597175965,J,NaN,NaN,NaN,NaN,NaN,NaN
4894062,99956490,Bemerkung zu Gurevich's Arbeit über das Entsch...,1978,0,111,114,Journal,Springer Science and Business Media LLC,19,1,...,3,Archive for Mathematical Logic,188076996,J,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
info(paper_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 23 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   id             4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int64
 3   n_citation     4894063 non-null  int64
 4   page_start     4894063 non-null  object
 5   page_end       4894063 non-null  object
 6   doc_type       4894063 non-null  object
 7   publisher      4894063 non-null  object
 8   volume         4894063 non-null  object
 9   issue          4894063 non-null  object
 10  doi            4894063 non-null  object
 11  abstract       4894063 non-null  object
 12  references     4894063 non-null  object
 13  nb_references  4894063 non-null  int64
 14  venue.raw      4894063 non-null  object
 15  venue.id       4419076 non-null  object
 16  venue.type     4419078 non-null  object
 17  author.name    3839999 non-null  object
 18  author.id      3839999 non-null  object
 19  author.org     3839999 non-null  object
 20  fos.name       16680 non-null    object
 21  fos.w          16680 non-null    object
 22  alias_ids      21408 non-null    object
dtypes: int64(4), object(19)
memory usage: 858.8+ MB

In [6]:
rename_columns(paper_df, {'id':'paper_id','venue.id': 'venue_id', 'venue.raw': 'venue_raw','venue.type':'venue_type'})

In [7]:
#calcola la percentuale di valori mancanti nel df
miss_percentage(paper_df)

Percentuale di valori nulli per la colonna paper_id = 0.0%
Percentuale di valori nulli per la colonna title = 0.0%
Percentuale di valori nulli per la colonna year = 0.0%
Percentuale di valori nulli per la colonna n_citation = 0.0%
Percentuale di valori nulli per la colonna page_start = 10.989580640870376%
Percentuale di valori nulli per la colonna page_end = 15.97310864204241%
Percentuale di valori nulli per la colonna doc_type = 10.20503822692924%
Percentuale di valori nulli per la colonna publisher = 15.526424567889707%
Percentuale di valori nulli per la colonna volume = 55.391338444151614%
Percentuale di valori nulli per la colonna issue = 66.93458993069767%
Percentuale di valori nulli per la colonna doi = 19.88376528867732%
Percentuale di valori nulli per la colonna abstract = 13.517582425890309%
Percentuale di valori nulli per la colonna references = 22.822673104126366%
Percentuale di valori nulli per la colonna nb_references = 0.0%
Percentuale di valori nulli per la colonna venue_raw = 1.4934625892637672%
Percentuale di valori nulli per la colonna venue_id = 10.667925607005877%
Percentuale di valori nulli per la colonna venue_type = 10.667884741164958%
Percentuale di valori nulli per la colonna author.name = 100.0%
Percentuale di valori nulli per la colonna author.id = 100.0%
Percentuale di valori nulli per la colonna author.org = 100.0%
Percentuale di valori nulli per la colonna fos.name = 100.0%
Percentuale di valori nulli per la colonna fos.w = 100.0%
Percentuale di valori nulli per la colonna alias_ids = 99.56257203881519%

In [8]:
del_columns(paper_df,['author.name','author.id','author.org','fos.name','fos.w'])

In [9]:
#sostituisce le stringhe ('') vuote con np.nan
fill_with_nan(paper_df,'')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 18 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int64
 3   n_citation     4894063 non-null  int64
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  object
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  object
 9   issue          1618242 non-null  object
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  references     3777107 non-null  object
 13  nb_references  4894063 non-null  int64
 14  venue_raw      4820972 non-null  object
 15  venue_id       4371968 non-null  float64
 16  venue_type     4371970 non-null  object
 17  alias_ids      21408 non-null    object
dtypes: float64(1), int64(4), object(13)
memory usage: 672.1+ MB

In [10]:
#controverifica: calcola la percentuale di valori nan nel DataFrame
nan_percentage(paper_df)

Percentuale di valori nulli per la colonna paper_id = 0.0%
Percentuale di valori nulli per la colonna title = 0.0%
Percentuale di valori nulli per la colonna year = 0.0%
Percentuale di valori nulli per la colonna n_citation = 0.0%
Percentuale di valori nulli per la colonna page_start = 10.989580640870376%
Percentuale di valori nulli per la colonna page_end = 15.97310864204241%
Percentuale di valori nulli per la colonna doc_type = 10.20503822692924%
Percentuale di valori nulli per la colonna publisher = 15.526424567889707%
Percentuale di valori nulli per la colonna volume = 55.391338444151614%
Percentuale di valori nulli per la colonna issue = 66.93458993069767%
Percentuale di valori nulli per la colonna doi = 19.88376528867732%
Percentuale di valori nulli per la colonna abstract = 13.517582425890309%
Percentuale di valori nulli per la colonna references = 22.822673104126366%
Percentuale di valori nulli per la colonna nb_references = 0.0%
Percentuale di valori nulli per la colonna venue_raw = 1.4934625892637672%
Percentuale di valori nulli per la colonna venue_id = 10.667925607005877%
Percentuale di valori nulli per la colonna venue_type = 10.667884741164958%
Percentuale di valori nulli per la colonna alias_ids = 99.56257203881519%

In [35]:
check_duplicates(paper_df,['paper_id'])

Empty DataFrame
Columns: [paper_id, title, year, n_citation, page_start, page_end, doc_type, publisher, volume, issue, doi, abstract, nb_references, venue_raw, venue_id, venue_type]
Index: []

## DataFrame references

In [11]:
reference_df=paper_df[['paper_id','nb_references','references']]

In [12]:
#uso di una maschera booleana: seleziona solo le righe che hanno almeno una reference, ossia quelle per cui nb_reference!=0
reference_df=reference_df[reference_df['nb_references']!=0]

#crea il DataFrame per reference espandendo la colonna references di reference_df
#per trasformare ogni elemento della lista di reference in una riga del DataFrame con il relativo id associato
reference=expand_column(reference_df,'references')

In [13]:
info(reference)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45564149 entries, 0 to 45564148
Data columns (total 3 columns):
 #   Column         Non-Null Count     Dtype
---  ------         --------------     -----
 0   paper_id       45564149 non-null  int64
 1   nb_references  45564149 non-null  int64
 2   references     45564149 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.0+ GB

In [14]:
check_duplicates(reference,['paper_id','references'])

Empty DataFrame
Columns: [paper_id, nb_references, references]
Index: []

In [15]:
del_columns(reference,['nb_references'])

In [16]:
cast_to(reference,'references','int64')

In [17]:
info(reference)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45564149 entries, 0 to 45564148
Data columns (total 2 columns):
 #   Column      Non-Null Count     Dtype
---  ------      --------------     -----
 0   paper_id    45564149 non-null  int64
 1   references  45564149 non-null  int64
dtypes: int64(2)
memory usage: 695.3 MB

In [18]:
rename_columns(reference,{'references':'referenced'})

## DataFrame alias_id e with_alias

In [19]:
alias_id_df=paper_df[['paper_id','alias_ids']]

In [20]:
#uso di una maschera booleana: seleziona solo le righe per cui alias_ids NON è nullo
alias_id_df=alias_id_df[alias_id_df['alias_ids'].notna()]

In [21]:
#crea il DataFrame with_alias espandendo la colonna alias_ids di alias_id_df
with_alias=expand_column(alias_id_df,'alias_ids')

In [22]:
check_duplicates(with_alias,['paper_id','alias_ids'])

Empty DataFrame
Columns: [paper_id, alias_ids]
Index: []

In [23]:
check_duplicates(with_alias,['alias_ids'])

Empty DataFrame
Columns: [paper_id, alias_ids]
Index: []

In [24]:
#controlla se i valori di alias_ids sono contenuti nella colonna id di paper
(with_alias['alias_ids']).isin(paper_df['paper_id']).any()

False

In [25]:
info(with_alias)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77909 entries, 0 to 77908
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   paper_id   77909 non-null  int64
 1   alias_ids  77909 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

In [26]:
cast_to(with_alias,'alias_ids','int64')

In [27]:
#crea la Series per alias_id
alias_id=with_alias['alias_ids']

In [53]:
info(alias_id)

<class 'pandas.core.series.Series'>
RangeIndex: 77909 entries, 0 to 77908
Series name: alias_ids
Non-Null Count  Dtype
--------------  -----
77909 non-null  int64
dtypes: int64(1)
memory usage: 608.8 KB

## Elaborazione paper_df

In [28]:
#elimina la colonna alias_ids e references
del_columns(paper_df,['alias_ids','references'])

In [29]:
#verifica che ci siano un nr. limitato di valori per doc_type per eseguire il cast a category
paper_df['doc_type'].unique()

array(['Conference', 'Journal', nan, 'Book', 'Repository', 'Patent',
       'BookChapter'], dtype=object)

In [30]:
#verifica che ci siano un nr. limitato di valori per venue_type per eseguire il cast a category
paper_df['venue_type'].unique()

array(['C', 'J', nan], dtype=object)

In [31]:
#tenta il cast a bigint, non è possibile usare to_numeric perchè contiene valori Nan
cast_to(paper_df,'volume','Int64')
cast_to(paper_df,'issue','Int64')

In [32]:
#controlla i valori massimi e minimi per capire a quale tipo di intero eseguire il cast
check_max_min(paper_df)

Colonna paper_id : valore massimo 3009038462, valore minimo 1091
Colonna year : valore massimo 2020, valore minimo 1800
Colonna n_citation : valore massimo 48327, valore minimo 0
Colonna volume : valore massimo 9783642544323, valore minimo -11
Colonna issue : valore massimo 9789812879356, valore minimo -77
Colonna nb_references : valore massimo 1812, valore minimo 0
Colonna venue_id : valore massimo 2996807011.0, valore minimo 182001.0

In [33]:
cast_to(paper_df,'doc_type','category')
cast_to(paper_df,'venue_type','category')

#esegue il cast della colonna venue_id di paper_df affinchè sia di tipo Int64 (pandas ExtensionDtype, per usare il tipo int con valori mancanti)
cast_to(paper_df,'venue_id','Int64')

cast_to(paper_df,'year','int16')
cast_to(paper_df,'n_citation','int16')
cast_to(paper_df,'nb_references','int16')

info(paper_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 16 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int16
 3   n_citation     4894063 non-null  int16
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  category
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  Int64
 9   issue          1618242 non-null  Int64
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  nb_references  4894063 non-null  int16
 13  venue_raw      4820972 non-null  object
 14  venue_id       4371968 non-null  Int64
 15  venue_type     4371970 non-null  category
dtypes: Int64(3), category(2), int16(3), int64(1), object(7)
memory usage: 462.1+ MB

In [51]:
#posso convertire solo quelle che effettivamente contengono int
cast_to(paper_df,'page_start','Int64')
cast_to(paper_df,'page_end','Int64')

ValueError: invalid literal for int() with base 10: '139-148'

In [50]:
#controlla l'integrità di page_start e page_end, per questo si userà il formato text nella tabella del db per questi due attributi
column_with_special_char(paper,'-')

2             On (p, q)-analogue of Bernstein operators
3     On the Number of Permutations Performable by E...
9                            Type-2 Fuzzy Logic Systems
10    Fredholm-Volterra integral equation with singu...
13    How to Extend Partial Deduction to Derive the ...
Name: title, dtype: object

15089     139-148
18906        38-1
20810       25-31
85261        43-1
148689      386-1
Name: page_start, dtype: object

15089     139-148
18906       38-12
20810       25-31
85261        43-8
148689      386-6
Name: page_end, dtype: object

918588     CRC Press - Taylor & Francis Group
1090623             SPIE-Intl Soc Optical Eng
Name: publisher, dtype: object

Series([], Name: doi, dtype: object)

Series([], Name: abstract, dtype: object)

Series([], Name: venue_raw, dtype: object)

In [34]:
#verifica quali colonne nel DataFrame contengono i caratteri speciali (riferimento a carattere numerico html), formato '&#x[HEX];'
column_with_special_char(paper_df,'&#x')

40870     Making Micrologic: The Development of the Plan...
76296     Enhanced CSMA&#x002F;CA Protocol Design for In...
89913     NOMA&#x002F;OMA Mode Selection-Based Cell-Free...
108143                                 Me &#x2014; Your ISP
144497    Proportional Fairness in Wireless Powered CSMA...
Name: title, dtype: object

Series([], Name: page_start, dtype: object)

Series([], Name: page_end, dtype: object)

Series([], Name: publisher, dtype: object)

Series([], Name: doi, dtype: object)

Series([], Name: abstract, dtype: object)

Series([], Name: venue_raw, dtype: object)

In [35]:
#decodifica le entità carattere
unescape_special_char(paper_df)

## DataFrame venue

In [36]:
venue=paper_df[['venue_id','venue_raw','venue_type']]

In [37]:
check_duplicates(venue,['venue_id','venue_raw','venue_type'])

         venue_id                                     venue_raw venue_type
30080      235346  Wireless Communications and Mobile Computing          J
34892      235346  Wireless Communications and Mobile Computing          J
36549      235346  Wireless Communications and Mobile Computing          J
44569      235346  Wireless Communications and Mobile Computing          J
45877      235346  Wireless Communications and Mobile Computing          J
...           ...                                           ...        ...
4894048      <NA>                                           NaN        NaN
4894053      <NA>                                           NaN        NaN
4894054      <NA>                                           NaN        NaN
4894055      <NA>                                           NaN        NaN
4894058      <NA>                                           NaN        NaN

[4868222 rows x 3 columns]

In [38]:
#elimina valori nulli e duplicati da venue
del_null_duplicates(venue)

/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49202 entries, 0 to 49201
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    10480 non-null  Int64
 1   venue_raw   49201 non-null  object
 2   venue_type  10482 non-null  category
dtypes: Int64(1), category(1), object(1)
memory usage: 865.1+ KB

/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

### Verifica la presenza di duplicati su un sottoinsieme delle colonne di venue

In [39]:
#controlla duplicati sul sottoinsieme venue_id e venue_raw
check_duplicates(venue,['venue_id','venue_raw'])

Empty DataFrame
Columns: [venue_id, venue_raw, venue_type]
Index: []

In [40]:
#controlla duplicati sul sottoinsieme venue_type e venue_raw, ci sono due valori omonimi su venue_raw con id differenti, vengono considerati come due record distinti
check_duplicates(venue,['venue_raw','venue_type'])

        venue_id                  venue_raw venue_type
224   2595313807  arXiv: Numerical Analysis          J
8552  2595836090  arXiv: Numerical Analysis          J

In [41]:
#controlla duplicati sul sottoinsieme venue_id e venue_type, li salva in un DataFrame temporaneo
venue_null=check_duplicates(venue,['venue_id','venue_type'])
info(venue_null)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38722 entries, 6961 to 49201
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    0 non-null      Int64
 1   venue_raw   38721 non-null  object
 2   venue_type  2 non-null      category
dtypes: Int64(1), category(1), object(1)
memory usage: 983.3+ KB

In [42]:
#ci sono due venue_type duplicati non nulli, verifica quali sono questi valori, fanno riferimento a due record diversi
venue_null[venue_null['venue_type'].notna()]

       venue_id                        venue_raw venue_type
6961       <NA>  hot topics in software upgrades          C
29004      <NA>                              NaN          C

In [43]:
#controlla duplicati sul sottoinsieme venue_id, verifica quanti sono i duplicati a causa di valori nulli, stesso numero di casi sopra
info(check_duplicates(venue,['venue_id']))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38722 entries, 4 to 49201
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    0 non-null      Int64
 1   venue_raw   38721 non-null  object
 2   venue_type  2 non-null      category
dtypes: Int64(1), category(1), object(1)
memory usage: 983.3+ KB

In [44]:
#controlla duplicati sul sottoinsieme venue_raw, fanno riferimento a record diversi, quindi non ci sono duplicati
#non ha senso fare la stessa elaborazione su venue_type
check_duplicates(venue,['venue_raw'])

,venue_id,venue_raw,venue_type
29,2757487807,American Medical Informatics Association Annua...,C
36428,<NA>,American Medical Informatics Association Annua...,NaN
19413,97068678,Aslib Proceedings,J
5526,<NA>,Aslib Proceedings,NaN
34067,49206733,BMC Proceedings,J
16717,<NA>,BMC Proceedings,NaN
45217,56561474,Computational Intelligence,J
198,1120693805,Computational Intelligence,C
2386,1168542559,Data and Knowledge Engineering,C
38136,136993123,Data and Knowledge Engineering,J
2398,11479521,Decision Support Systems,J
696,1182309694,Decision Support Systems,C
19570,<NA>,Frontiers in Robotics and AI,NaN
6189,2595095599,Frontiers in Robotics and AI,J
1133,1201250571,Intelligent Data Analysis,C
13365,2498839158,Intelligent Data Analysis,J
1631,<NA>,Künstliche Intelligenz,NaN
1109,1001063841,Künstliche Intelligenz,J
5878,<NA>,Proceedings of SPIE,NaN
874,183492911,Proceedings of SPIE,J
11470,2996807011,SIAM Journal on Applied Algebra and Geometry,J
7734,<NA>,SIAM Journal on Applied Algebra and Geometry,NaN
9348,<NA>,Social Science Research Network,NaN
8554,2751751161,Social Science Research Network,J
320,1123077274,Soft Computing,C
1215,65753830,Soft Computing,J
2637,2605467207,Workshop on Hot Topics in Operating Systems,C
26377,<NA>,Workshop on Hot Topics in Operating Systems,NaN
224,2595313807,arXiv: Numerical Analysis,J
8552,2595836090,arXiv: Numerical Analysis,J

### Elaborazione di venue, per ottenere venue_id_new che diventerà la chiave primaria per la tabella venue

In [45]:
#crea la colonna venue_id_new chiamando la funzione di hash sul dataframe venue
venue['venue_id_new']=hash_df(venue,'int64')

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_8461/545191298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue['venue_id_new']=hash_df(venue,'int64')

In [46]:
#controlla che non ci siano duplicati tra gli id, non dovrebbero esserci dato che non ci sono tra i record di venue
check_duplicates(venue,'venue_id_new')

Empty DataFrame
Columns: [venue_id, venue_raw, venue_type, venue_id_new]
Index: []

In [47]:
#questo cast è necessario perchè quando aggiunge questa colonna in paper_df la presenza di valori Nan non permette 
#di mantenere tale colonna come Series di interi
cast_to(venue,'venue_id_new','Int64')

/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column]=(df[column]).astype(dtype,copy=False)

In [48]:
info(venue)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49202 entries, 0 to 49201
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   venue_id      10480 non-null  Int64
 1   venue_raw     49201 non-null  object
 2   venue_type    10482 non-null  category
 3   venue_id_new  49202 non-null  Int64
dtypes: Int64(2), category(1), object(1)
memory usage: 1.3+ MB

## DataFrame paper

In [49]:
#Esegue un merge sinistro con il DataFrame paper_df sulle colonne venue_id,venue_raw, venue_type,
#il risultato lo mette in un nuovo DataFrame paper
paper=paper_df.merge(venue, how='left', on=['venue_id','venue_raw','venue_type'])

In [ ]:
del_columns(paper,['venue_id','venue_raw','venue_type'])

In [36]:
info(paper)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4894063 entries, 0 to 4894062
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int16
 3   n_citation     4894063 non-null  int16
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  category
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  Int64
 9   issue          1618242 non-null  Int64
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  nb_references  4894063 non-null  int16
 13  venue_id_new   4820973 non-null  Int64
dtypes: Int64(3), category(1), int16(3), int64(1), object(6)
memory usage: 457.4+ MB

In [37]:
paper

,paper_id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,doi,abstract,nb_references,venue_id_new
0,339090091,Document Classification with Recommendation Ar...,2002,0,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,NaN,0,4485894401032707713
1,339107753,Linking Operational Semantics and Algebraic Se...,2013,0,380,396,Conference,"Springer, Berlin, Heidelberg",<NA>,<NA>,10.1007/978-3-642-41202-8_25,Wireless technology has achieved lots of appli...,10,8569721686983051283
2,339147017,"On (p, q)-analogue of Bernstein operators",2015,114,874,882,Journal,Elsevier,266,<NA>,10.1016/j.amc.2015.04.090,"In this paper, we introduce a new analogue of ...",8,3494791485537028207
3,339159418,On the Number of Permutations Performable by E...,1987,0,461,470,Conference,NaN,<NA>,<NA>,NaN,NaN,0,7651271195938326231
4,337814053,Leveraging MARF for the Simulation of Securing...,2009,0,46,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,0,6944349850374290863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4894058,998678108,IEEE Seventh International Conference on Softw...,2014,0,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,0,<NA>
4894059,99934447,Globalization of Consumer E-Commerce,2005,0,1293,1298,Conference,IGI Global,<NA>,<NA>,10.4018/978-1-59140-553-5.ch228,NaN,0,8098950582618867683
4894060,99981893,Matrix-Padé fractions,1987,0,438,449,Conference,"Springer, Berlin, Heidelberg",<NA>,<NA>,10.1007/3-540-51517-8_149,For matrix power series with coefficients over...,2,6843350035554290669
4894061,998260344,Deep Learning for Single-View Instance Recogni...,2015,11,NaN,NaN,Repository,NaN,<NA>,<NA>,NaN,Deep learning methods have typically been trai...,48,7003290661413467402
4894062,99956490,Bemerkung zu Gurevich's Arbeit über das Entsch...,1978,0,111,114,Journal,Springer Science and Business Media LLC,19,1,10.1007/BF02011872,NaN,3,5847151608321678472

## Connessione al DB

In [54]:
#esporta i DataFrame nelle rispettive tabelle create in pgAdmin
connect_db(venue,'venue')

49202

In [55]:
connect_db(paper,'paper')

4894063

In [59]:
connect_db(reference,'reference')

45564149

In [54]:
connect_db(alias_id,'alias_id')

77909

In [55]:
connect_db(with_alias,'with_alias')

77909

# author_df

## Inizializzazione del DataFrame vuoto+inserimento degli elementi del Json nel DataFrame

In [ ]:
author_df=initialize()
#legge il json ed inserisce gli elementi del json nel DataFrame, mantiene solo le colonne di interesse
author_df=read_json_flatten(author_df,path,data,'authors','id','paper_','author_')

## Analisi+elaborazione di author_df

In [4]:
author_df

,author_name,author_id,author_org,paper_id
0,Uditha Ratnayake,2439017310,NaN,339090091
1,Tamás D. Gedeon,2052936527,NaN,339090091
2,Nalin Wickramarachchi,2693152212,NaN,339090091
3,Xiaofeng Wu,2644192757,East China Normal University,339107753
4,Huibiao Zhu,2147595872,East China Normal University,339107753
...,...,...,...,...
14934845,Stanley Cabay,2973361986,Department of Computing Science; University of...,99981893
14934846,David Held,2164233265,NaN,998260344
14934847,Sebastian Thrun,2075956027,NaN,998260344
14934848,Silvio Savarese,2968407423,NaN,998260344
14934849,Egon Börger,2026252948,Institut für math. Logik und Grundlagenforschu...,99956490

In [5]:
info(author_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14934850 entries, 0 to 14934849
Data columns (total 4 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   author_name  14934850 non-null  object
 1   author_id    14934850 non-null  int64
 2   author_org   11361508 non-null  object
 3   paper_id     14934850 non-null  object
dtypes: int64(1), object(3)
memory usage: 455.8+ MB

In [6]:
cast_to(author_df,'paper_id','int64')
#sostituisce le stringhe ('') vuote con np.nan, se ce ne sono
fill_with_nan(author_df,'')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14934850 entries, 0 to 14934849
Data columns (total 4 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   author_name  14934850 non-null  object
 1   author_id    14934850 non-null  int64
 2   author_org   11361508 non-null  object
 3   paper_id     14934850 non-null  int64
dtypes: int64(2), object(2)
memory usage: 455.8+ MB

In [7]:
#controlla se ci sono colonne nel DataFrame che contengono i caratteri speciali (riferimento a carattere numerico html), formato '&#x[HEX];'
column_with_special_char(author_df,'&#x')

Series([], Name: author_name, dtype: object)

Series([], Name: author_org, dtype: object)

In [88]:
check_duplicates(author_df,['paper_id','author_id','author_name','author_org'])

Empty DataFrame
Columns: [author_name, author_id, author_org, paper_id]
Index: []

## DataFrame per who+analisi

In [11]:
who=author_df[['paper_id','author_id','author_org']]

In [12]:
check_duplicates(who,['paper_id','author_id','author_org'])

Empty DataFrame
Columns: [paper_id, author_id, author_org]
Index: []

In [94]:
info(who)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14934850 entries, 0 to 14934849
Data columns (total 3 columns):
 #   Column      Non-Null Count     Dtype
---  ------      --------------     -----
 0   paper_id    14934850 non-null  int64
 1   author_id   14934850 non-null  int64
 2   author_org  11361508 non-null  object
dtypes: int64(2), object(1)
memory usage: 341.8+ MB

## DataFrame per author+analisi

In [14]:
author= author_df[['author_id', 'author_name']]

In [15]:
check_duplicates(author,['author_id', 'author_name'])

           author_id     author_name
6809052         2255        Bin Liuy
7593495         2255        Bin Liuy
13303415        2255        Bin Liuy
2513646         2797  Elena Frantova
7118825         2797  Elena Frantova
...              ...             ...
11780470  3009028789  Pascal Paschos
5812695   3009032348    Chengzhe Shi
8794975   3009032348    Chengzhe Shi
2824354   3009037162       Claremont
8791209   3009037162       Claremont

[11464884 rows x 2 columns]

In [16]:
#elimina righe completamente nulle e i duplicati
del_null_duplicates(author)

/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici
/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5070852 entries, 0 to 5070851
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   author_id    5070852 non-null  int64
 1   author_name  5070852 non-null  object
dtypes: int64(1), object(1)
memory usage: 77.4+ MB

In [17]:
#controlla i duplicati sul sottoinsieme author_id: sono gli stessi author_name scritti in modi differenti (aliases)
check_duplicates(author,['author_id'])

          author_id           author_name
4136798       32606     Stéphane Debricon
582289        32606     Stephane Debricon
420417        44880  Dario Garcia-Gasulla
1057216       44880     D. Garcia-Gasulla
288324        92734     Brian E. Whitacre
...             ...                   ...
2601655  3008444288           WangTiejian
1523396  3009024956         Alper Ozbilen
4299955  3009024956         Alper OzbIlen
4300751  3009035817   Van der HoevenJoris
1522529  3009035817   Van Der HoevenJoris

[1129902 rows x 2 columns]

## DataFrame author_extended

In [18]:
#crea il dataframe con gli aliases dei nomi degli autori
author_extended=author[['author_id','author_name']]

## Elaborazione di author

In [19]:
#elimina i duplicati sul sottoinsieme author_id
author.drop_duplicates(subset=['author_id'],inplace=True, ignore_index=True)

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_17499/3122417007.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  author.drop_duplicates(subset=['author_id'],inplace=True, ignore_index=True)

In [20]:
info(author)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398138 entries, 0 to 4398137
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   author_id    4398138 non-null  int64
 1   author_name  4398138 non-null  object
dtypes: int64(1), object(1)
memory usage: 67.1+ MB

## Connessione al DB

In [82]:
#esporta i DataFrame nelle rispettive tabelle create in pgAdmin
connect_db(author,'author')

4398138

In [83]:
connect_db(author_extended,'author_extended')

5070852

In [84]:
connect_db(who,'who')

14934850

# fos_df

## Inizializzazione del DataFrame vuoto+inserimento degli elementi del Json nel DataFrame

In [4]:
#chiamare sulla chiave fos lo stesso metodo utilizzato per authors mi restituisce un errore relativo alla chiave fos, 
#in quanto json_normalize funziona sulle liste di oggetti
fos_df=initialize()
fos_df=read_json_flatten(fos_df,path,data,'fos','id','paper_','fos_')

TypeError: {'id': 343712712, 'authors': [{'name': 'Nadia Mesli', 'id': 2395865256}], 'title': "Bases de donnees et lexiques-grammaires: un exemple d'exploitation linguistique de l'outil informatique.", 'year': 2002, 'n_citation': 0, 'page_start': '5', 'page_end': '22', 'doc_type': '', 'publisher': '', 'volume': '61', 'issue': '', 'doi': '', 'venue': {'raw': 'BIAA'}, 'abstract': '', 'references': '', 'nb_references': 0, 'fos': {'name': '', 'w': ''}, 'author': {'name': '', 'id': '', 'org': ''}} has non list value {'name': '', 'w': ''} for path fos. Must be list or null.

In [4]:
fos_df=initialize()

#legge il json ed inserisce gli elementi del json nel DataFrame, mantiene solo le colonne di interesse
fos_df=read_json_flatten_from_dict(fos_df,path,data,'fos','id','paper_','fos_')

## Analisi+elaborazione di fos_df

In [5]:
fos_df

                      fos_name    fos_w   paper_id
0      Document classification  0.69468  339090091
1                  Data mining  0.45555  339090091
2                 Architecture  0.44832  339090091
3        Information retrieval  0.46439  339090091
4             Computer science  0.43309  339090091
...                        ...      ...        ...
26605         Machine learning  0.48268  998260344
26606     Discrete mathematics  0.38435   99956490
26607            Combinatorics  0.38139   99956490
26608     Entscheidungsproblem  0.62878   99956490
26609              Mathematics  0.40204   99956490

[45029752 rows x 3 columns]

In [6]:
info(fos_df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45029752 entries, 0 to 26609
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   fos_name  45029752 non-null  object
 1   fos_w     45029752 non-null  float64
 2   paper_id  45029752 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.3+ GB

In [7]:
cast_to(fos_df,'paper_id','int64')

#sostituisce le stringhe ('') vuote con np.nan, se ce ne sono
fill_with_nan(fos_df,'')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45029752 entries, 0 to 26609
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   fos_name  45029752 non-null  object
 1   fos_w     45029752 non-null  float64
 2   paper_id  45029752 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ GB

In [8]:
#non serve chiamare unescape_special_char
column_with_special_char(fos_df,'&#x')

Series([], Name: fos_name, dtype: object)

In [9]:
check_duplicates(fos_df,['fos_name','fos_w','paper_id'])

                  fos_name  fos_w    paper_id
36206  Radius of curvature    0.0   162420740
36207  Radius of curvature    0.0   162420740
87997  Radius of curvature    0.0  1998680315
87998  Radius of curvature    0.0  1998680315
10042  Radius of curvature    0.0  2121529848
10045  Radius of curvature    0.0  2121529848
21819  Radius of curvature    0.0  2131733916
21821  Radius of curvature    0.0  2131733916

In [10]:
del_null_duplicates(fos_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45029748 entries, 0 to 45029747
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   fos_name  45029748 non-null  object
 1   fos_w     45029748 non-null  float64
 2   paper_id  45029748 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.0+ GB

## DataFrame per fos+analisi

In [12]:
fos=fos_df[['fos_name']]

In [13]:
del_null_duplicates(fos)

/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici
/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132337 entries, 0 to 132336
Data columns (total 1 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   fos_name  132337 non-null  object
dtypes: object(1)
memory usage: 1.0+ MB

In [14]:
#crea la colonna fos_id chiamando la funzione di hash sul dataframe fos
fos['fos_id']=hash_df(fos,'int64')

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_1282/3145810717.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fos['fos_id']=hash_df(fos,'int64')

In [113]:
info(fos)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132337 entries, 0 to 132336
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   fos_name  132337 non-null  object
 1   fos_id    132337 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.0+ MB

## DataFrame per what+analisi

In [15]:
#Esegue un merge sinistro con il DataFrame fos_df sulla colonna fos_name,
#il risultato lo mette in un nuovo DataFrame what_df
what_df=fos_df.merge(fos, how='left', on=['fos_name'])

In [16]:
#crea dataframe per what con solo le colonne di interesse
what=what_df[['paper_id', 'fos_id','fos_w']]

## Verifica dell'inconsistenza dei dati per il DataFrame What

In [17]:
#inconsistenza nei dati-ci sono gli stessi fos_id per lo stesso paper_id con fos_w diversi, 
#già eliminato quelli per cui fos_w=0 sopra
check_duplicates(what,['paper_id','fos_id'])

            paper_id               fos_id    fos_w
19217017      430170  1393614756898590201  0.59070
19217022      430170  1393614756898590201  0.47448
1202366       614894  1393614756898590201  0.53807
1202370       614894  1393614756898590201  0.44501
28281860     1766746  1393614756898590201  0.55512
...              ...                  ...      ...
26500491  3008751255  1393614756898590201  0.46877
26500594  3008753423  1393614756898590201  0.55394
26500596  3008753423  1393614756898590201  0.45041
26502687  3009022442  1393614756898590201  0.54205
26502689  3009022442  1393614756898590201  0.46790

[84922 rows x 3 columns]

In [18]:
#verifica quali sono i duplicati , stesso fos_name associato allo stesso paper_id con fos_w diversi
fos_duplicated=check_duplicates(fos_df,['fos_name','paper_id'])
fos_duplicated

                     fos_name    fos_w    paper_id
18135081          Astigmatism  0.66538   204997851
18135082          Astigmatism  0.72689   204997851
11410030  Asymptotic analysis  0.80121    27097632
11410031  Asymptotic analysis  0.76464    27097632
38603528  Asymptotic analysis  0.58493    47018828
...                       ...      ...         ...
40650141    UML state machine  0.70119  2401885247
12305969      Ultrafiltration  0.46539  1973855211
12305970      Ultrafiltration  0.46091  1973855211
3408043       Ultrafiltration  0.48233  2065517646
3408044       Ultrafiltration  0.46963  2065517646

[84922 rows x 3 columns]

In [69]:
#verifica quali sono i fos_name duplicati
fos_duplicated['fos_name'].unique()

array(['Astigmatism', 'Asymptotic analysis', 'Breathing',
       'Comprehensive income', 'Conjoint analysis', 'Control theory',
       'Convex cone', 'Dynamic braking', 'Latency (engineering)',
       'Lexical analysis', 'Noise', 'Reliability (statistics)',
       'Social exclusion', 'UML state machine', 'Ultrafiltration'],
      dtype=object)

In [19]:
info(what)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45029748 entries, 0 to 45029747
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   paper_id  45029748 non-null  int64
 1   fos_id    45029748 non-null  int64
 2   fos_w     45029748 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.3 GB

## Connessione al DB

In [100]:
#esporta i DataFrame nelle rispettive tabelle create in pgAdmin
connect_db(fos,'fos')

132337

In [20]:
connect_db(what,'what')

45029748

# Controllo che il nr. dei record corrisponda al nr. di righe per ogni DataFrame

In [84]:
count_row_from_db(paper,'paper')
count_row_from_db(venue,'venue')
count_row_from_db(reference,'reference')
count_row_from_db(with_alias,'with_alias')
count_row_from_db(alias_id,'alias_id')

Tabella paper:

Nr righe non nulle per paper_id = 4894063

Nr righe non nulle per title = 4894063

Nr righe non nulle per year = 4894063

Nr righe non nulle per n_citation = 4894063

Nr righe non nulle per page_start = 4356226

Nr righe non nulle per page_end = 4112329

Nr righe non nulle per doc_type = 4394622

Nr righe non nulle per publisher = 4134190

Nr righe non nulle per volume = 2183176

Nr righe non nulle per issue = 1618242

Nr righe non nulle per doi = 3920939

Nr righe non nulle per abstract = 4232504

Nr righe non nulle per nb_references = 4894063

Nr righe non nulle per venue_id_new = 4820973


Tabella venue:

Nr righe non nulle per venue_id = 10480

Nr righe non nulle per venue_raw = 49201

Nr righe non nulle per venue_type = 10482

Nr righe non nulle per venue_id_new = 49202


Tabella reference:

Nr righe non nulle per paper_id = 45564149

Nr righe non nulle per referenced = 45564149


Tabella with_alias:

Nr righe non nulle per paper_id = 77909

Nr righe non nulle per alias_ids = 77909


Tabella alias_id:

Nr righe non nulle = 77909

In [ ]:
count_row_from_db(author,'author')
count_row_from_db(author_extended,'author_extended')
count_row_from_db(who,'who')

Tabella author:

Nr righe non nulle per author_id = 4398138

Nr righe non nulle per author_name = 4398138


Tabella author_extended:

Nr righe non nulle per author_id = 5070852

Nr righe non nulle per author_name = 5070852


Tabella who:

Nr righe non nulle per paper_id = 14934850

Nr righe non nulle per author_id = 14934850

Nr righe non nulle per author_org = 11361508

In [86]:
count_row_from_db(fos,'fos')
count_row_from_db(what,'what')

Tabella fos:

Nr righe non nulle per fos_name = 132337

Nr righe non nulle per fos_id = 132337


Tabella what:

Nr righe non nulle per paper_id = 45029748

Nr righe non nulle per fos_id = 45029748

Nr righe non nulle per fos_w = 45029748