# Importazione dei moduli necessari+definizione variabili

In [2]:
from import_dataset import *
from analyze_df import *
from manipulate_df import *
from DB_connection import *

In [3]:
path='/Users/autoteamchannel/Downloads/DPLB+SIMPLETEXT/simpleText/task 1/corpus/dblp1.json'
data='_source'

# paper_df

## Inizializzazione del DataFrame vuoto+inserimento degli elementi del Json nel DataFrame

In [4]:
paper_df=initialize()

#legge il json ed inserisce gli elementi del json nel df, rimuove le colonne authors e fos
paper_df=read_json(paper_df,path,data,['authors','fos'])

## Analisi di paper_df

In [5]:
paper_df

,id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,...,nb_references,venue.raw,venue.id,venue.type,author.name,author.id,author.org,fos.name,fos.w,alias_ids
0,339090091,Document Classification with Recommendation Ar...,2002,0,,,Conference,,,,...,0,Australasian Document Computing Symposium,1147924868.0,C,,,,NaN,NaN,NaN
1,339107753,Linking Operational Semantics and Algebraic Se...,2013,0,380,396,Conference,"Springer, Berlin, Heidelberg",,,...,10,International Conference on Formal Engineering...,1133365479.0,C,,,,NaN,NaN,NaN
2,339147017,"On (p, q)-analogue of Bernstein operators",2015,114,874,882,Journal,Elsevier,266,,...,8,Applied Mathematics and Computation,50372074.0,J,,,,NaN,NaN,NaN
3,339159418,On the Number of Permutations Performable by E...,1987,0,461,470,Conference,,,,...,0,International Conference on Parallel Processing,1155899826.0,C,,,,NaN,NaN,NaN
4,337814053,Leveraging MARF for the Simulation of Securing...,2009,0,46,,,,,,...,0,HSC,NaN,NaN,,,,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4894058,998678108,IEEE Seventh International Conference on Softw...,2014,0,,,,,,,...,0,,,,NaN,NaN,NaN,NaN,NaN,NaN
4894059,99934447,Globalization of Consumer E-Commerce,2005,0,1293,1298,Conference,IGI Global,,,...,0,Encyclopedia of Information Science and Techno...,2755063974,C,NaN,NaN,NaN,NaN,NaN,NaN
4894060,99981893,Matrix-Padé fractions,1987,0,438,449,Conference,"Springer, Berlin, Heidelberg",,,...,2,European Conference on Computer Algebra,2756322194,C,NaN,NaN,NaN,NaN,NaN,NaN
4894061,998260344,Deep Learning for Single-View Instance Recogni...,2015,11,,,Repository,,,,...,48,arXiv: Computer Vision and Pattern Recognition,2597175965,J,NaN,NaN,NaN,NaN,NaN,NaN
4894062,99956490,Bemerkung zu Gurevich's Arbeit über das Entsch...,1978,0,111,114,Journal,Springer Science and Business Media LLC,19,1,...,3,Archive for Mathematical Logic,188076996,J,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
info(paper_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 23 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   id             4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int64
 3   n_citation     4894063 non-null  int64
 4   page_start     4894063 non-null  object
 5   page_end       4894063 non-null  object
 6   doc_type       4894063 non-null  object
 7   publisher      4894063 non-null  object
 8   volume         4894063 non-null  object
 9   issue          4894063 non-null  object
 10  doi            4894063 non-null  object
 11  abstract       4894063 non-null  object
 12  references     4894063 non-null  object
 13  nb_references  4894063 non-null  int64
 14  venue.raw      4894063 non-null  object
 15  venue.id       4419076 non-null  object
 16  venue.type     4419078 non-null  object
 17  author.name    3839999 non-null  object
 18  author.id      3839999 non-null  object
 19  author.org     3839999 non-null  object
 20  fos.name       16680 non-null    object
 21  fos.w          16680 non-null    object
 22  alias_ids      21408 non-null    object
dtypes: int64(4), object(19)
memory usage: 858.8+ MB

In [7]:
rename_columns(paper_df, {'id':'paper_id','venue.id': 'venue_id', 'venue.raw': 'venue_raw','venue.type':'venue_type'})

In [8]:
#calcola la percentuale di valori mancanti nel df
miss_percentage(paper_df)

Percentuale di valori nulli per la colonna paper_id = 0.0%
Percentuale di valori nulli per la colonna title = 0.0%
Percentuale di valori nulli per la colonna year = 0.0%
Percentuale di valori nulli per la colonna n_citation = 0.0%
Percentuale di valori nulli per la colonna page_start = 10.989580640870376%
Percentuale di valori nulli per la colonna page_end = 15.97310864204241%
Percentuale di valori nulli per la colonna doc_type = 10.20503822692924%
Percentuale di valori nulli per la colonna publisher = 15.526424567889707%
Percentuale di valori nulli per la colonna volume = 55.391338444151614%
Percentuale di valori nulli per la colonna issue = 66.93458993069767%
Percentuale di valori nulli per la colonna doi = 19.88376528867732%
Percentuale di valori nulli per la colonna abstract = 13.517582425890309%
Percentuale di valori nulli per la colonna references = 22.822673104126366%
Percentuale di valori nulli per la colonna nb_references = 0.0%
Percentuale di valori nulli per la colonna venue_raw = 1.4934625892637672%
Percentuale di valori nulli per la colonna venue_id = 10.667925607005877%
Percentuale di valori nulli per la colonna venue_type = 10.667884741164958%
Percentuale di valori nulli per la colonna author.name = 100.0%
Percentuale di valori nulli per la colonna author.id = 100.0%
Percentuale di valori nulli per la colonna author.org = 100.0%
Percentuale di valori nulli per la colonna fos.name = 100.0%
Percentuale di valori nulli per la colonna fos.w = 100.0%
Percentuale di valori nulli per la colonna alias_ids = 99.56257203881519%

In [9]:
del_columns(paper_df,['author.name','author.id','author.org','fos.name','fos.w'])

In [10]:
#sostituisce le stringhe ('') vuote con np.nan
fill_with_nan(paper_df,'')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 18 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int64
 3   n_citation     4894063 non-null  int64
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  object
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  object
 9   issue          1618242 non-null  object
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  references     3777107 non-null  object
 13  nb_references  4894063 non-null  int64
 14  venue_raw      4820972 non-null  object
 15  venue_id       4371968 non-null  float64
 16  venue_type     4371970 non-null  object
 17  alias_ids      21408 non-null    object
dtypes: float64(1), int64(4), object(13)
memory usage: 672.1+ MB

In [11]:
#calcola la percentuale di valori nan nel df
nan_percentage(paper_df)

Percentuale di valori nulli per la colonna paper_id = 0.0%
Percentuale di valori nulli per la colonna title = 0.0%
Percentuale di valori nulli per la colonna year = 0.0%
Percentuale di valori nulli per la colonna n_citation = 0.0%
Percentuale di valori nulli per la colonna page_start = 10.989580640870376%
Percentuale di valori nulli per la colonna page_end = 15.97310864204241%
Percentuale di valori nulli per la colonna doc_type = 10.20503822692924%
Percentuale di valori nulli per la colonna publisher = 15.526424567889707%
Percentuale di valori nulli per la colonna volume = 55.391338444151614%
Percentuale di valori nulli per la colonna issue = 66.93458993069767%
Percentuale di valori nulli per la colonna doi = 19.88376528867732%
Percentuale di valori nulli per la colonna abstract = 13.517582425890309%
Percentuale di valori nulli per la colonna references = 22.822673104126366%
Percentuale di valori nulli per la colonna nb_references = 0.0%
Percentuale di valori nulli per la colonna venue_raw = 1.4934625892637672%
Percentuale di valori nulli per la colonna venue_id = 10.667925607005877%
Percentuale di valori nulli per la colonna venue_type = 10.667884741164958%
Percentuale di valori nulli per la colonna alias_ids = 99.56257203881519%

## DataFrame references

In [12]:
reference_df=paper_df[['paper_id','nb_references','references']]

In [13]:
#seleziona solo le righe che hanno almeno una reference, ossia quelle per cui nb_reference!=0
reference_df=reference_df[reference_df['nb_references']!=0]

#crea il dataframe per reference espandendo la colonna references di reference_df
#per trasformare ogni elemento della lista di reference in una riga del dataframe con il relativo id associato
reference=expand_column(reference_df,'references')

In [14]:
info(reference)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45564149 entries, 0 to 45564148
Data columns (total 3 columns):
 #   Column         Non-Null Count     Dtype
---  ------         --------------     -----
 0   paper_id       45564149 non-null  int64
 1   nb_references  45564149 non-null  int64
 2   references     45564149 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.0+ GB

In [15]:
check_duplicates(reference,['paper_id','references'])

Empty DataFrame
Columns: [paper_id, nb_references, references]
Index: []

In [16]:
del_columns(reference,['nb_references'])

In [17]:
cast_to(reference,'references','int64')

In [18]:
info(reference)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45564149 entries, 0 to 45564148
Data columns (total 2 columns):
 #   Column      Non-Null Count     Dtype
---  ------      --------------     -----
 0   paper_id    45564149 non-null  int64
 1   references  45564149 non-null  int64
dtypes: int64(2)
memory usage: 695.3 MB

In [19]:
rename_columns(reference,{'references':'referenced'})

## DataFrame alias_id e with_alias

In [20]:
alias_id_df=paper_df[['paper_id','alias_ids']]

In [21]:
#seleziono solo le righe per cui alias_ids NON è nullo
alias_id_df=alias_id_df[alias_id_df['alias_ids'].notna()]

In [22]:
#crea il dataframe with_alias espandendo la colonna alias_ids di alias_id_df
with_alias=expand_column(alias_id_df,'alias_ids')

In [23]:
check_duplicates(with_alias,['paper_id','alias_ids'])

Empty DataFrame
Columns: [paper_id, alias_ids]
Index: []

In [24]:
check_duplicates(with_alias,['alias_ids'])

Empty DataFrame
Columns: [paper_id, alias_ids]
Index: []

In [25]:
#controlla se i valori di alias_ids sono contenuti nella colonna id di paper
(with_alias['alias_ids']).isin(paper_df['paper_id']).any()

False

In [26]:
info(with_alias)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77909 entries, 0 to 77908
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   paper_id   77909 non-null  int64
 1   alias_ids  77909 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

In [27]:
cast_to(with_alias,'alias_ids','int64')

In [28]:
#crea il dataframe (series) per alias_id
alias_id=with_alias['alias_ids']

## Elaborazione paper_df

In [29]:
#elimina la colonna alias_ids e references
del_columns(paper_df,['alias_ids','references'])

In [30]:
#verifica che ci siano un nr. limitato di valori per doc_type per eseguire il cast a category
paper_df['doc_type'].unique()

array(['Conference', 'Journal', nan, 'Book', 'Repository', 'Patent',
       'BookChapter'], dtype=object)

In [31]:
#verifica che ci siano un nr. limitato di valori per venue_type per eseguire il cast a category
paper_df['venue_type'].unique()

array(['C', 'J', nan], dtype=object)

In [32]:
#tenta il cast a bigint, non è possibile usare to_numeric perchè contiene valori Nan
cast_to(paper_df,'volume','Int64')
cast_to(paper_df,'issue','Int64')

In [33]:
#controlla i valori massimi e minimi per capire a quale tipo di intero eseguire il cast
check_max_min(paper_df)

Colonna paper_id : valore massimo 3009038462, valore minimo 1091
Colonna year : valore massimo 2020, valore minimo 1800
Colonna n_citation : valore massimo 48327, valore minimo 0
Colonna volume : valore massimo 9783642544323, valore minimo -11
Colonna issue : valore massimo 9789812879356, valore minimo -77
Colonna nb_references : valore massimo 1812, valore minimo 0
Colonna venue_id : valore massimo 2996807011.0, valore minimo 182001.0

In [34]:
cast_to(paper_df,'doc_type','category')
cast_to(paper_df,'venue_type','category')

#esegue il cast della colonna venue_id di paper_df affinchè sia di tipo Int64 (pandas ExtensionDtype, per usare il tipo int con valori mancanti)
cast_to(paper_df,'venue_id','Int64')

cast_to(paper_df,'year','int16')
cast_to(paper_df,'n_citation','int16')
cast_to(paper_df,'nb_references','int16')

info(paper_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 16 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int16
 3   n_citation     4894063 non-null  int16
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  category
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  Int64
 9   issue          1618242 non-null  Int64
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  nb_references  4894063 non-null  int16
 13  venue_raw      4820972 non-null  object
 14  venue_id       4371968 non-null  Int64
 15  venue_type     4371970 non-null  category
dtypes: Int64(3), category(2), int16(3), int64(1), object(7)
memory usage: 462.1+ MB

In [35]:
#verifica quali colonne nel df contengono i caratteri speciali (riferimento a carattere numerico html), formato '&#x[HEX];'
column_with_special_char(paper_df,'&#x')

40870     Making Micrologic: The Development of the Plan...
76296     Enhanced CSMA&#x002F;CA Protocol Design for In...
89913     NOMA&#x002F;OMA Mode Selection-Based Cell-Free...
108143                                 Me &#x2014; Your ISP
144497    Proportional Fairness in Wireless Powered CSMA...
Name: title, dtype: object

Series([], Name: page_start, dtype: object)

Series([], Name: page_end, dtype: object)

Series([], Name: publisher, dtype: object)

Series([], Name: doi, dtype: object)

Series([], Name: abstract, dtype: object)

Series([], Name: venue_raw, dtype: object)

In [36]:
#decodifica le entità carattere
unescape_special_char(paper_df)

## DataFrame venue

In [37]:
venue=paper_df[['venue_id','venue_raw','venue_type']]

In [38]:
check_duplicates(venue,['venue_id','venue_raw','venue_type'])

         venue_id                                     venue_raw venue_type
30080      235346  Wireless Communications and Mobile Computing          J
34892      235346  Wireless Communications and Mobile Computing          J
36549      235346  Wireless Communications and Mobile Computing          J
44569      235346  Wireless Communications and Mobile Computing          J
45877      235346  Wireless Communications and Mobile Computing          J
...           ...                                           ...        ...
4894048      <NA>                                           NaN        NaN
4894053      <NA>                                           NaN        NaN
4894054      <NA>                                           NaN        NaN
4894055      <NA>                                           NaN        NaN
4894058      <NA>                                           NaN        NaN

[4868222 rows x 3 columns]

In [39]:
#elimina valori nulli e duplicati da venue
del_null_duplicates(venue)

/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49202 entries, 0 to 49201
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    10480 non-null  Int64
 1   venue_raw   49201 non-null  object
 2   venue_type  10482 non-null  category
dtypes: Int64(1), category(1), object(1)
memory usage: 865.1+ KB

/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

### Verifica la presenza di duplicati a causa di dati mancanti nei record di venue

In [40]:
#controlla duplicati sul sottoinsieme venue_id e venue_raw
check_duplicates(venue,['venue_id','venue_raw'])

Empty DataFrame
Columns: [venue_id, venue_raw, venue_type]
Index: []

In [41]:
#controlla duplicati sul sottoinsieme venue_type e venue_raw, ci sono due valori omonimi su venue_raw con id differenti, vengono considerati come due record differenti
check_duplicates(venue,['venue_raw','venue_type'])

        venue_id                  venue_raw venue_type
224   2595313807  arXiv: Numerical Analysis          J
8552  2595836090  arXiv: Numerical Analysis          J

In [42]:
#controlla duplicati sul sottoinsieme venue_id e venue_type, li salva in un dataframe temporaneo
venue_null=check_duplicates(venue,['venue_id','venue_type'])
info(venue_null)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38722 entries, 6961 to 49201
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    0 non-null      Int64
 1   venue_raw   38721 non-null  object
 2   venue_type  2 non-null      category
dtypes: Int64(1), category(1), object(1)
memory usage: 983.3+ KB

In [43]:
#ci sono due venue_type duplicati non nulli, verifica quali sono questi valori, fanno riferimento a due record diversi
venue_null[venue_null['venue_type'].notna()]

       venue_id                        venue_raw venue_type
6961       <NA>  hot topics in software upgrades          C
29004      <NA>                              NaN          C

In [44]:
#controlla duplicati sul sottoinsieme venue_id, verifica quanti sono i duplicati a causa di valori nulli, stesso numero di casi sopra
info(check_duplicates(venue,['venue_id']))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38722 entries, 4 to 49201
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    0 non-null      Int64
 1   venue_raw   38721 non-null  object
 2   venue_type  2 non-null      category
dtypes: Int64(1), category(1), object(1)
memory usage: 983.3+ KB

In [45]:
#controlla duplicati sul sottoinsieme venue_raw, fanno riferimento a record diversi, quindi non ci sono duplicati
#non ha senso fare la stessa elaborazione su venue_type
check_duplicates(venue,['venue_raw'])

,venue_id,venue_raw,venue_type
29,2757487807,American Medical Informatics Association Annua...,C
36428,<NA>,American Medical Informatics Association Annua...,NaN
19413,97068678,Aslib Proceedings,J
5526,<NA>,Aslib Proceedings,NaN
34067,49206733,BMC Proceedings,J
16717,<NA>,BMC Proceedings,NaN
45217,56561474,Computational Intelligence,J
198,1120693805,Computational Intelligence,C
2386,1168542559,Data and Knowledge Engineering,C
38136,136993123,Data and Knowledge Engineering,J
2398,11479521,Decision Support Systems,J
696,1182309694,Decision Support Systems,C
19570,<NA>,Frontiers in Robotics and AI,NaN
6189,2595095599,Frontiers in Robotics and AI,J
1133,1201250571,Intelligent Data Analysis,C
13365,2498839158,Intelligent Data Analysis,J
1631,<NA>,Künstliche Intelligenz,NaN
1109,1001063841,Künstliche Intelligenz,J
5878,<NA>,Proceedings of SPIE,NaN
874,183492911,Proceedings of SPIE,J
11470,2996807011,SIAM Journal on Applied Algebra and Geometry,J
7734,<NA>,SIAM Journal on Applied Algebra and Geometry,NaN
9348,<NA>,Social Science Research Network,NaN
8554,2751751161,Social Science Research Network,J
320,1123077274,Soft Computing,C
1215,65753830,Soft Computing,J
2637,2605467207,Workshop on Hot Topics in Operating Systems,C
26377,<NA>,Workshop on Hot Topics in Operating Systems,NaN
224,2595313807,arXiv: Numerical Analysis,J
8552,2595836090,arXiv: Numerical Analysis,J

### Elaborazione di venue, per ottenere venue_id_new che diventerà la chiave primaria per la tabella venue

In [46]:
#crea la colonna venue_id_new chiamando la funzione di hash sul dataframe venue
venue['venue_id_new']=hash_df(venue,'int64')

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_9636/545191298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue['venue_id_new']=hash_df(venue,'int64')

In [47]:
#controlla che non ci siano duplicati tra gli id, non dovrebbero esserci dato che non ci sono tra i record di venue
check_duplicates(venue,'venue_id_new')

Empty DataFrame
Columns: [venue_id, venue_raw, venue_type, venue_id_new]
Index: []

In [48]:
#questo cast è necessario perchè quando aggiunge questa colonna nel paper_df la presenza di valori Nan non permette 
#di mantenere tale colonna come series di interi
cast_to(venue,'venue_id_new','Int64')

/Users/autoteamchannel/Desktop/tesi/scripts/manipulate_df.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column]=(df[column]).astype(dtype,copy=False)

## DataFrame paper

In [49]:
#Esegue un merge sinistro con il DataFrame paper_df sulle colonne venue_id,venue_raw, venue_type,
#il risultato lo mette in un nuovo DataFrame paper
paper=pd.merge(paper_df,venue, how='left', on=['venue_id','venue_raw','venue_type'])

In [50]:
#controlla l'integrità di page_start e page_end, per questo userò il formato text nella tabella del db per questi due attributi
column_with_special_char(paper,'-')

2             On (p, q)-analogue of Bernstein operators
3     On the Number of Permutations Performable by E...
9                            Type-2 Fuzzy Logic Systems
10    Fredholm-Volterra integral equation with singu...
13    How to Extend Partial Deduction to Derive the ...
Name: title, dtype: object

15089     139-148
18906        38-1
20810       25-31
85261        43-1
148689      386-1
Name: page_start, dtype: object

15089     139-148
18906       38-12
20810       25-31
85261        43-8
148689      386-6
Name: page_end, dtype: object

918588     CRC Press - Taylor & Francis Group
1090623             SPIE-Intl Soc Optical Eng
Name: publisher, dtype: object

Series([], Name: doi, dtype: object)

Series([], Name: abstract, dtype: object)

Series([], Name: venue_raw, dtype: object)

In [51]:
del_columns(paper,['venue_id','venue_raw','venue_type'])

In [52]:
check_duplicates(paper_df,['paper_id'])

Empty DataFrame
Columns: [paper_id, title, year, n_citation, page_start, page_end, doc_type, publisher, volume, issue, doi, abstract, nb_references, venue_raw, venue_id, venue_type]
Index: []

In [53]:
info(paper)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4894063 entries, 0 to 4894062
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int16
 3   n_citation     4894063 non-null  int16
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  category
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  Int64
 9   issue          1618242 non-null  Int64
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  nb_references  4894063 non-null  int16
 13  venue_id_new   4820973 non-null  Int64
dtypes: Int64(3), category(1), int16(3), int64(1), object(6)
memory usage: 457.4+ MB

In [54]:
paper

,paper_id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,doi,abstract,nb_references,venue_id_new
0,339090091,Document Classification with Recommendation Ar...,2002,0,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,NaN,0,4485894401032707713
1,339107753,Linking Operational Semantics and Algebraic Se...,2013,0,380,396,Conference,"Springer, Berlin, Heidelberg",<NA>,<NA>,10.1007/978-3-642-41202-8_25,Wireless technology has achieved lots of appli...,10,8569721686983051283
2,339147017,"On (p, q)-analogue of Bernstein operators",2015,114,874,882,Journal,Elsevier,266,<NA>,10.1016/j.amc.2015.04.090,"In this paper, we introduce a new analogue of ...",8,3494791485537028207
3,339159418,On the Number of Permutations Performable by E...,1987,0,461,470,Conference,NaN,<NA>,<NA>,NaN,NaN,0,7651271195938326231
4,337814053,Leveraging MARF for the Simulation of Securing...,2009,0,46,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,0,6944349850374290863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4894058,998678108,IEEE Seventh International Conference on Softw...,2014,0,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,0,<NA>
4894059,99934447,Globalization of Consumer E-Commerce,2005,0,1293,1298,Conference,IGI Global,<NA>,<NA>,10.4018/978-1-59140-553-5.ch228,NaN,0,8098950582618867683
4894060,99981893,Matrix-Padé fractions,1987,0,438,449,Conference,"Springer, Berlin, Heidelberg",<NA>,<NA>,10.1007/3-540-51517-8_149,For matrix power series with coefficients over...,2,6843350035554290669
4894061,998260344,Deep Learning for Single-View Instance Recogni...,2015,11,NaN,NaN,Repository,NaN,<NA>,<NA>,NaN,Deep learning methods have typically been trai...,48,7003290661413467402
4894062,99956490,Bemerkung zu Gurevich's Arbeit über das Entsch...,1978,0,111,114,Journal,Springer Science and Business Media LLC,19,1,10.1007/BF02011872,NaN,3,5847151608321678472

## Connessione al DB

In [54]:
#esporta i vari DataFrame nelle rispettive tabelle create in pgAdmin
connect_db(venue,'venue')

49202

In [55]:
connect_db(paper,'paper')

4894063

In [ ]:
connect_db(reference,'reference')

In [ ]:
connect_db(alias_id,'alias_id')

In [ ]:
connect_db(with_alias,'with_alias')

# author_df

## Inizializzazione del DataFrame vuoto+inserimento degli elementi del Json nel DataFrame

In [58]:
author_df=initialize()
#legge il json ed inserisce gli elementi del json nel df, mantiene solo le colonne di interesse
author_df=read_json_flatten(author_df,path,data,'authors','id','paper_','author_')

## Analisi+elaborazione di author_df

In [59]:
author_df

,author_name,author_id,author_org,paper_id
0,Uditha Ratnayake,2439017310,NaN,339090091
1,Tamás D. Gedeon,2052936527,NaN,339090091
2,Nalin Wickramarachchi,2693152212,NaN,339090091
3,Xiaofeng Wu,2644192757,East China Normal University,339107753
4,Huibiao Zhu,2147595872,East China Normal University,339107753
...,...,...,...,...
26705,Karla Donato Fook,16747719,NaN,141116944
26706,András Ádám,2432547972,NaN,141127911
26707,Mohammed F. Al-Hunaity,2663083177,NaN,141128058
26708,S. V. Raghavan,2642128721,NaN,141140491
26709,R. Kalyanakrishnan,2629339964,NaN,141140491

In [60]:
info(author_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26710 entries, 0 to 26709
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   author_name  26710 non-null  object
 1   author_id    26710 non-null  int64
 2   author_org   15226 non-null  object
 3   paper_id     26710 non-null  object
dtypes: int64(1), object(3)
memory usage: 834.8+ KB

In [61]:
cast_to(author_df,'paper_id','int64')
#sostituisce le stringhe ('') vuote con np.nan, se ce ne sono
fill_with_nan(author_df,'')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26710 entries, 0 to 26709
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   author_name  26710 non-null  object
 1   author_id    26710 non-null  int64
 2   author_org   15226 non-null  object
 3   paper_id     26710 non-null  int64
dtypes: int64(2), object(2)
memory usage: 834.8+ KB

In [62]:
#verifica quali colonne nel df contengono i caratteri speciali (riferimento a carattere numerico html), formato '&#x[HEX];'
column_with_special_char(author_df,'&#x')

Series([], Name: author_name, dtype: object)

Series([], Name: author_org, dtype: object)

In [63]:
#verifica quali colonne nel df contengono il carattere NULL
column_with_special_char(author_df,'\x00')

Series([], Name: author_name, dtype: object)

Series([], Name: author_org, dtype: object)

In [64]:
#decodifica le entità carattere
unescape_special_char(author_df)

In [65]:
#rimpiazza i valori NUL con uno spazio
author_df['author_org'].replace('\x00',' ',inplace=True, regex=True)

## DataFrame per who+analisi

In [66]:
who=author_df[['paper_id','author_id','author_org']]

In [67]:
check_duplicates(who,['paper_id','author_id','author_org'])

Empty DataFrame
Columns: [paper_id, author_id, author_org]
Index: []

In [68]:
del_null_duplicates(who)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26710 entries, 0 to 26709
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   paper_id    26710 non-null  int64
 1   author_id   26710 non-null  int64
 2   author_org  15226 non-null  object
dtypes: int64(2), object(1)
memory usage: 626.1+ KB

/Users/autoteamchannel/Downloads/scripts/manipulate_df.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici
/Users/autoteamchannel/Downloads/scripts/manipulate_df.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

## DataFrame per author+analisi

In [69]:
author= author_df[['author_id', 'author_name']]

In [70]:
check_duplicates(author,['author_id', 'author_name'])

        author_id            author_name
1000       222893         Nazli Goharian
26343      222893         Nazli Goharian
9278       342741     Salvatore Ammirato
9481       342741     Salvatore Ammirato
13462     1306445          Susan Stepney
...           ...                    ...
21750  2984062584             Zhong Chen
407    2984957170  E. Michael Maximilien
23070  2984957170  E. Michael Maximilien
8392   2986889263          Ulrich Reimer
12337  2986889263          Ulrich Reimer

[2568 rows x 2 columns]

In [71]:
#elimina righe completamente nulle e i duplicati
del_null_duplicates(author)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25316 entries, 0 to 25315
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   author_id    25316 non-null  int64
 1   author_name  25316 non-null  object
dtypes: int64(1), object(1)
memory usage: 395.7+ KB

/Users/autoteamchannel/Downloads/scripts/manipulate_df.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici
/Users/autoteamchannel/Downloads/scripts/manipulate_df.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

In [72]:
#controlla i duplicati sul sottoinsieme author_id: sono gli stessi author_name scritti in modi differenti
check_duplicates(author,['author_id'])

        author_id           author_name
13409    10071845     Frantisek Sudzina
6371     10071845     František Sudzina
10666    76172389       Michal Wrzeszcz
2531     76172389       Michał Wrzeszcz
14342    77678245             I. Serina
...           ...                   ...
24514  2790392185       Laurent Lefèvre
13167  2937543209              H.R. Rao
3774   2937543209             H. R. Rao
14226  2970711141     Artur J. Ferreira
14317  2970711141  Artur Jorge Ferreira

[253 rows x 2 columns]

## DataFrame author_extended

In [73]:
#crea il dataframe con gli author referenziati in modi diversi
author_extended=author[['author_id','author_name']]

## Elaborazione di author

In [74]:
#elimina i duplicati sul sottoinsieme author_id
author.drop_duplicates(subset=['author_id'],inplace=True, ignore_index=True)

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_2653/2911874236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  author.drop_duplicates(subset=['author_id'],inplace=True, ignore_index=True)

## Connessione al DB

In [75]:
#esporta i vari DataFrame nelle rispettive tabelle create in pgAdmin
connect_db(author,'author')

25189

In [76]:
connect_db(author_extended,'author_extended')

25316

In [77]:
connect_db(who,'who')

26710

# fos_df

## Inizializzazione del DataFrame vuoto+inserimento degli elementi del Json nel DataFrame

In [78]:
fos_df=initialize()

#legge il json ed inserisce gli elementi del json nel df, mantiene solo le colonne di interesse
fos_df=read_json_flatten_from_dict(fos_df,path,data,'fos','id','paper_','fos_')

## Analisi+elaborazione di fos_df

In [79]:
fos_df

                      fos_name    fos_w   paper_id
0      Document classification  0.69468  339090091
1                  Data mining  0.45555  339090091
2                 Architecture  0.44832  339090091
3        Information retrieval  0.46439  339090091
4             Computer science  0.43309  339090091
...                        ...      ...        ...
78524           Mobile station  0.63185  141128058
78525              Engineering  0.39459  141128058
78526         Computer science  0.46044  141140491
78527               Multimedia  0.46348  141140491
78528    Distributed computing  0.44435  141140491

[78529 rows x 3 columns]

In [80]:
info(fos_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78529 entries, 0 to 78528
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fos_name  78529 non-null  object
 1   fos_w     78529 non-null  float64
 2   paper_id  78529 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.8+ MB

In [81]:
cast_to(fos_df,'paper_id','int64')

#sostituisce le stringhe ('') vuote con np.nan, se ce ne sono
fill_with_nan(fos_df,'')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78529 entries, 0 to 78528
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fos_name  78529 non-null  object
 1   fos_w     78529 non-null  float64
 2   paper_id  78529 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.8+ MB

In [82]:
#non serve chiamare unescape_special_char
column_with_special_char(fos_df,'&#x')

Series([], Name: fos_name, dtype: object)

In [83]:
check_duplicates(fos_df,['fos_name','fos_w','paper_id'])

Empty DataFrame
Columns: [fos_name, fos_w, paper_id]
Index: []

In [84]:
del_null_duplicates(fos_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78529 entries, 0 to 78528
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fos_name  78529 non-null  object
 1   fos_w     78529 non-null  float64
 2   paper_id  78529 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.8+ MB

In [85]:
check_duplicates(fos_df,['fos_name','paper_id']) #DA CONTROLLARE forse da togliere

             fos_name    fos_w   paper_id
34254  1-planar graph  0.59335  161278506
28605  1-planar graph  0.57787  157787184
37386  1-planar graph  0.50451  163240004
71159  1-planar graph  0.57172  315834793
50796  1-planar graph  0.55049  171577813
...               ...      ...        ...
74113     ω-automaton  0.62212  325606627
35314     ω-automaton  0.53383  161943695
26482     ω-automaton  0.64281  156518268
31755     ω-automaton  0.76266  159837505
78519     ω-automaton  0.58161  141127911

[70571 rows x 3 columns]

## DataFrame per fos+analisi

In [86]:
fos=fos_df[['fos_name']]

In [87]:
del_null_duplicates(fos)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14828 entries, 0 to 14827
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fos_name  14828 non-null  object
dtypes: object(1)
memory usage: 116.0+ KB

/Users/autoteamchannel/Downloads/scripts/manipulate_df.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici
/Users/autoteamchannel/Downloads/scripts/manipulate_df.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

In [88]:
#crea la colonna fos_id chiamando la funzione di hash sul dataframe fos
fos['fos_id']=hash_df(fos,'int64')

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_2653/2589909491.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fos['fos_id']=hash_df(fos,'int64')

## DataFrame per what+analisi

In [89]:
#Esegue un merge sinistro con il DataFrame fos_df sulla colonna fos_name,
#il risultato lo mette in un nuovo DataFrame what_df
what_df=pd.merge(fos_df,fos, how='left', on=['fos_name'])

In [90]:
#crea dataframe per what con solo le colonne di interesse
what=what_df[['paper_id', 'fos_id','fos_w']]

## Verifica dell'inconsistenza dei dati per il DataFrame What

In [92]:
#inconsistenza nei dati-ci sono gli stessi fos_id per lo stesso paper_id con fos_w diversi, 
#già eliminato quelli per cui fos_w=0 sopra
check_duplicates(what,['paper_id','fos_id'])

        paper_id               fos_id    fos_w
32907  160496226  1393614756898590201  0.61141
32911  160496226  1393614756898590201  0.44901
35320  161959344  1393614756898590201  0.60809
35323  161959344  1393614756898590201  0.46859
43118  166724960  1393614756898590201  0.60175
43121  166724960  1393614756898590201  0.46336
44079  167268530  1393614756898590201  0.55885
44081  167268530  1393614756898590201  0.47395
46942  169126196  1393614756898590201  0.59999
46945  169126196  1393614756898590201  0.48294
51089  171805218  1393614756898590201  0.57581
51094  171805218  1393614756898590201  0.48011
58240  270935515  1393614756898590201  0.48792
58243  270935515  1393614756898590201  0.46233
66002  292174674  1393614756898590201  0.56660
66004  292174674  1393614756898590201  0.46613
67979  303345387  1393614756898590201  0.58369
67980  303345387  1393614756898590201  0.47768
69304  308576909  1393614756898590201  0.60239
69305  308576909  1393614756898590201  0.46399
1509   343508979  4411799802045374077  0.51139
1514   343508979  4411799802045374077  0.55443
1679   344933984  1393614756898590201  0.56024
1681   344933984  1393614756898590201  0.45924
4038   364434733  1393614756898590201  0.61969
4040   364434733  1393614756898590201  0.48060
4822   375741467  1393614756898590201  0.51564
4824   375741467  1393614756898590201  0.46064
5139   379396628  1393614756898590201  0.52259
5142   379396628  1393614756898590201  0.47154
5202   380281521  5179957869133884921  0.66448
5205   380281521  5179957869133884921  0.62613
7001   409207560  1393614756898590201  0.47340
7009   409207560  1393614756898590201  0.55712
9593   564636986  1393614756898590201  0.51983
9596   564636986  1393614756898590201  0.46434
9727   565775830  1393614756898590201  0.60856
9729   565775830  1393614756898590201  0.48145
10204  569105068  1393614756898590201  0.52907
10207  569105068  1393614756898590201  0.43872
11374  580668441  1393614756898590201  0.57842
11377  580668441  1393614756898590201  0.48009
12309  590202737  1393614756898590201  0.55585
12311  590202737  1393614756898590201  0.46837
13073  597680638  1393614756898590201  0.53367
13074  597680638  1393614756898590201  0.46768
14659  609348088  1393614756898590201  0.58072
14662  609348088  1393614756898590201  0.47747
16816  628457019  1393614756898590201  0.66125
16819  628457019  1393614756898590201  0.46164

In [93]:
#verifica quali sono i duplicati , stesso fos_name associato allo stesso paper_id con fos_w diversi
check_duplicates(fos_df,['fos_name','paper_id'])

                    fos_name    fos_w   paper_id
5202     Asymptotic analysis  0.66448  380281521
5205     Asymptotic analysis  0.62613  380281521
32907         Control theory  0.61141  160496226
32911         Control theory  0.44901  160496226
35320         Control theory  0.60809  161959344
35323         Control theory  0.46859  161959344
43118         Control theory  0.60175  166724960
43121         Control theory  0.46336  166724960
44079         Control theory  0.55885  167268530
44081         Control theory  0.47395  167268530
46942         Control theory  0.59999  169126196
46945         Control theory  0.48294  169126196
51089         Control theory  0.57581  171805218
51094         Control theory  0.48011  171805218
58240         Control theory  0.48792  270935515
58243         Control theory  0.46233  270935515
66002         Control theory  0.56660  292174674
66004         Control theory  0.46613  292174674
67979         Control theory  0.58369  303345387
67980         Control theory  0.47768  303345387
69304         Control theory  0.60239  308576909
69305         Control theory  0.46399  308576909
1679          Control theory  0.56024  344933984
1681          Control theory  0.45924  344933984
4038          Control theory  0.61969  364434733
4040          Control theory  0.48060  364434733
4822          Control theory  0.51564  375741467
4824          Control theory  0.46064  375741467
5139          Control theory  0.52259  379396628
5142          Control theory  0.47154  379396628
7001          Control theory  0.47340  409207560
7009          Control theory  0.55712  409207560
9593          Control theory  0.51983  564636986
9596          Control theory  0.46434  564636986
9727          Control theory  0.60856  565775830
9729          Control theory  0.48145  565775830
10204         Control theory  0.52907  569105068
10207         Control theory  0.43872  569105068
11374         Control theory  0.57842  580668441
11377         Control theory  0.48009  580668441
12309         Control theory  0.55585  590202737
12311         Control theory  0.46837  590202737
13073         Control theory  0.53367  597680638
13074         Control theory  0.46768  597680638
14659         Control theory  0.58072  609348088
14662         Control theory  0.47747  609348088
16816         Control theory  0.66125  628457019
16819         Control theory  0.46164  628457019
1509   Latency (engineering)  0.51139  343508979
1514   Latency (engineering)  0.55443  343508979

## Connessione al DB

In [94]:
#esporta i vari DataFrame nelle rispettive tabelle create in pgAdmin
connect_db(fos,'fos')

14828

In [95]:
connect_db(what,'what')

78529

# Controllo che il nr. dei record corrisponda al nr. di righe per ogni DataFrame

In [ ]:
count_row_from_db(paper,'paper')
count_row_from_db(venue,'venue')
count_row_from_db(reference,'reference')
count_row_from_db(with_alias,'with_alias')
count_row_from_db(alias_id,'alias_id')
count_row_from_db(author,'author')
count_row_from_db(author_extended,'author_extended')
count_row_from_db(who,'who')
count_row_from_db(fos,'fos')
count_row_from_db(what,'what')

In [52]:
count_row_from_db2(venue,'venue')
count_row_from_db(venue,'venue')
count_row_from_db3(venue,'venue') #ok questo

Tabella venue:
Nr righe non nulle per venue_id = (10480,)
Nr righe non nulle per venue_raw = (49201,)
Nr righe non nulle per venue_type = (10482,)
Nr righe non nulle per venue_id_new = (49202,)
Tabella venue:
Nr righe non nulle per venue_id = 10480
Nr righe non nulle per venue_raw = 49201
Nr righe non nulle per venue_type = 10482
Nr righe non nulle per venue_id_new = 49202
Tabella venue:
Nr righe non nulle per venue_id = 10480
Nr righe non nulle per venue_raw = 49201
Nr righe non nulle per venue_type = 10482
Nr righe non nulle per venue_id_new = 49202

# FINE

In [3]:
check_nb_records(sql_queries)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   paper_id       int64
 1   title          object
 2   year           int64
 3   n_citation     int64
 4   page_start     object
 5   page_end       object
 6   doc_type       object
 7   publisher      object
 8   volume         float64
 9   issue          float64
 10  doi            object
 11  abstract       object
 12  nb_references  int64
 13  venue_id_new   float64
dtypes: float64(3), int64(4), object(7)
memory usage: 522.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77909 entries, 0 to 77908
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   alias_ids  77909 non-null  int64
dtypes: int64(1)
memory usage: 608.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77909 entries, 0 to 77908
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   paper_id   77909 non-null  int64
 1   alias_ids  77909 non-null  int64
dtypes: int64(2)
memory usage: 1.2 MB

KeyboardInterrupt

In [76]:
import psycopg2
#import psycopg2.extras as extras
import config as cfg

In [77]:
user=cfg.postgres['user']
password=cfg.postgres['password']
host=cfg.postgres['host']
port=cfg.postgres['port']
dbname=cfg.postgres['dbname']

conn_str = f"""postgresql://{user}:{password}@{host}:{port}/{dbname}"""

In [78]:
conn = psycopg2.connect(conn_str)
conn.autocommit = True

In [79]:

cursor = conn.cursor()
cursor.execute("select * from venue")
results = cursor.rowcount
print ((results))

49202

In [81]:
for column in paper.columns:
    sql_query=f"""SELECT * FROM PAPER WHERE {column} IS NOT NULL"""
    cursor = conn.cursor()
    cursor.execute(sql_query)
    results = cursor.rowcount
    print (f"""Nr righe non nulle per {column} = {results}""")

Nr righe non nulle per paper_id = 4894063
Nr righe non nulle per title = 4894063
Nr righe non nulle per year = 4894063
Nr righe non nulle per n_citation = 4894063
Nr righe non nulle per page_start = 4356226
Nr righe non nulle per page_end = 4112329
Nr righe non nulle per doc_type = 4394622
Nr righe non nulle per publisher = 4134190
Nr righe non nulle per volume = 2183176
Nr righe non nulle per issue = 1618242
Nr righe non nulle per doi = 3920939
Nr righe non nulle per abstract = 4232504
Nr righe non nulle per nb_references = 4894063
Nr righe non nulle per venue_id_new = 4820973

In [98]:
count_row(venue,'venue')

Tabella venue
Nr righe non nulle per venue_id = 10480
Nr righe non nulle per venue_raw = 49201
Nr righe non nulle per venue_type = 10482
Nr righe non nulle per venue_id_new = 49202

In [97]:
def count_row_from_db(df,table_name):
    print (f"""Tabella {table_name}""")
    for column in df.columns:
        sql_query=f"""SELECT * FROM {table_name} WHERE {column} IS NOT NULL"""
        cursor = conn.cursor()
        cursor.execute(sql_query)
        print (f"""Nr righe non nulle per {column} = {cursor.rowcount}""")
    cursor.close()

In [53]:
count_row_from_db(venue,'venue')

Tabella venue:
Nr righe non nulle per venue_id = 10480
Nr righe non nulle per venue_raw = 49201
Nr righe non nulle per venue_type = 10482
Nr righe non nulle per venue_id_new = 49202