# Il programma si occupa di estrarre i dati del file jsonl DBLP1, e inserirli in diversi dataframe pandas, per poi scriverli in un database postgres. 
# Il programma si suddivide in quattro sezioni a causa della dimensione del file json e della RAM limitata.

In [1]:
!python -V

Python 3.9.12

In [8]:
print (pandas.__version__)

1.4.2

In [7]:
import pandas

## Importo i moduli necessari

In [1]:
import pandas as pd
import json
from numpy import NaN
import numpy as np
import html
!pip install SQLAlchemy
!pip install psycopg2-binary

Requirement already satisfied: SQLAlchemy in /Users/autoteamchannel/opt/anaconda3/lib/python3.9/site-packages (1.4.27)
Requirement already satisfied: greenlet!=0.4.17 in /Users/autoteamchannel/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Requirement already satisfied: psycopg2-binary in /Users/autoteamchannel/opt/anaconda3/lib/python3.9/site-packages (2.9.3)

## Definizione delle funzioni utilizzate
@countMissValue: dato un DataFrame e una colonna, restituisce la percentuale di valori '' o NA:numpy.NaN o None per quella colonna 

@countNaNValue: dato un Dataframe e una colonna, restituisce la percentuale di valori NA:numpy.NaN o None

@readJsonChunk: legge il chunk (Json Reader) linea per linea e lo inserisce in un DataFrame facendo uso del metodo pandas.json_normalize

@dellNullDuplicates: dato un dataframe elimina le righe completamente nulle e duplicate

@fill_with_nan: dato un dataframe e una stringa rimpiazza tutti i valori contenenti quella stringa con NaN

In [19]:
def countMissValue (dataframe, column):
  i=0
  j=0
  i=dataframe[column].isna().sum()
  j=dataframe[dataframe[column]==''][column].count() #uso di una maschera booleana per contare i valori ''
  return print(f'Percentuale di valori nulli per la colonna {column} = {((i+j)/len(dataframe)*100)}%')

In [3]:
def countNaNValue (dataframe, column):
  i=0
  i=dataframe[column].isna().sum() # conta il numero di NA,None o NaN nella serie
  return print(f'Percentuale di valori nulli per la colonna {column} = {(i/len(dataframe)*100)}%')

In [4]:
def readJsonChunk (chunk, data, recordpath=None, meta=None, metaprefix=None, recordprefix=None):
  if (recordpath==None) and (meta==None) and (metaprefix==None) and (recordprefix==None):
    df=(pd.json_normalize(data=chunk[data])) #oggetti Json da serializzare
  else:
    df= (pd.json_normalize(data=chunk[data], 
        record_path=[recordpath], #percorso in ogni oggetto Json per l'elenco dei record
        meta=[meta], #campo da utilizzare come metadato incluso in ogni record del dataframe risultante
        meta_prefix=metaprefix, #prefisso per il campo meta
        record_prefix=recordprefix)) #prefisso per il campo record
  return df

In [5]:
def delNullDuplicates(dataframe):
  dataframe.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici
                   how='all', #elimina la riga se tutti i valori sono NaN
                   inplace=True) #effettua l'operazione sul dataframe anzichè restituire una copia
  dataframe.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia
                            ignore_index=True) #affinchè gli assi risultanti siano da 0 a n-1
  return dataframe.info(verbose=True,show_counts=True)

In [6]:
#da cambiare, inserire string come parametro e passare la stringa
def fill_empty_values (dataframe):
  df=dataframe.replace(to_replace='', #valore da sostituire
                    value=np.nan, #valore con cui sostituire
                    inplace=False)#effettua l'operazione sul dataframe anzichè restituire una copia
  return df.info(verbose=True,show_counts=True)

In [7]:

def fill_with_nan (dataframe,string):
  dataframe.replace(to_replace=string, #valore da sostituire
                    value=np.nan, #valore con cui sostituire
                    inplace=True) #effettua l'operazione sul dataframe anzichè restituire una copia
  return dataframe.info(verbose=True,show_counts=True)

In [8]:
#decodifica le sequenze di escape dei caratteri speciali html per quelle colonne di tipo object
def unescape_special_char (dataframe):
    for column in dataframe.columns:
        if dataframe[column].dtype==object:
            dataframe[column]=dataframe[column].map(html.unescape, na_action='ignore') #ho tolto astype('str'). dopo dataframe[column]
    #fill_with_nan(dataframe,'nan')
    return dataframe.head()

In [9]:
#vedere se manterla, per vedere quali sono le colonne con caratteri speciali html
def column_with_special_char (dataframe,string):
    for column in dataframe.columns:
        if dataframe[column].dtype==object:
            df=dataframe[dataframe[column].str.contains(string,na=False)]
            print(f"""{df[column].head()}
            """)

## Controllo il numero di linee del Json

In [9]:
count_lines=sum(1 for line in open('/Users/autoteamchannel/Downloads/DPLB+SIMPLETEXT/simpleText/task 1/corpus/dblp1.json'))
count_lines

4894063

## 1) Creo i dataframe paper, venue, alias_ids, with_alias

In [12]:
#creo un dataframe vuoto
paper_df=pd.DataFrame()

In [13]:
#leggo il json per chunk, itero sui chunk e chiamo la funzione readJsonChunk, creo il dataframe con le colonne date da tutte le chiavi all'interno della 
#chiave '_source', elimino alcune colonne mano a mano che creo il dataframe a causa della RAM limitata, le ricaverò in seguito

with open ('/Users/autoteamchannel/Downloads/DPLB+SIMPLETEXT/simpleText/task 1/corpus/dblp1.json') as f:
  chunks=pd.read_json(path_or_buf=f, #percorso del file Json
                      lines=True, #legge il file come un oggetto Json per linea
                      chunksize=10000) #dimensione dei chunk, restituisce un oggetto JsonReader iterabile
  for chunk in chunks:
    source_df=readJsonChunk(chunk,'_source')
    source_df.drop(columns=['authors', 'fos'], #colonne da eliminare -- TOLTO REFERENCES
                   inplace=True) #effettua l'operazione sul database anzichè restituire una copia
    paper_df=pd.concat([paper_df,source_df], ignore_index=True)

In [14]:
#visualizzo la percentuale di elementi nulli nel dataframe, non tutte sono NaN, alcune sono ''
paper_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 23 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   id             4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int64
 3   n_citation     4894063 non-null  int64
 4   page_start     4894063 non-null  object
 5   page_end       4894063 non-null  object
 6   doc_type       4894063 non-null  object
 7   publisher      4894063 non-null  object
 8   volume         4894063 non-null  object
 9   issue          4894063 non-null  object
 10  doi            4894063 non-null  object
 11  abstract       4894063 non-null  object
 12  references     4894063 non-null  object
 13  nb_references  4894063 non-null  int64
 14  venue.raw      4894063 non-null  object
 15  venue.id       4419076 non-null  object
 16  venue.type     4419078 non-null  object
 17  author.name    3839999 non-null  object
 18  author.id      3839999 non-null  object
 19  author.org     3839999 non-null  object
 20  fos.name       16680 non-null    object
 21  fos.w          16680 non-null    object
 22  alias_ids      21408 non-null    object
dtypes: int64(4), object(19)
memory usage: 858.8+ MB

In [15]:
paper_df.head()

,id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,...,nb_references,venue.raw,venue.id,venue.type,author.name,author.id,author.org,fos.name,fos.w,alias_ids
0,339090091,Document Classification with Recommendation Ar...,2002,0,,,Conference,,,,...,0,Australasian Document Computing Symposium,1147924868.0,C,,,,NaN,NaN,NaN
1,339107753,Linking Operational Semantics and Algebraic Se...,2013,0,380,396,Conference,"Springer, Berlin, Heidelberg",,,...,10,International Conference on Formal Engineering...,1133365479.0,C,,,,NaN,NaN,NaN
2,339147017,"On (p, q)-analogue of Bernstein operators",2015,114,874,882,Journal,Elsevier,266,,...,8,Applied Mathematics and Computation,50372074.0,J,,,,NaN,NaN,NaN
3,339159418,On the Number of Permutations Performable by E...,1987,0,461,470,Conference,,,,...,0,International Conference on Parallel Processing,1155899826.0,C,,,,NaN,NaN,NaN
4,337814053,Leveraging MARF for the Simulation of Securing...,2009,0,46,,,,,,...,0,HSC,NaN,NaN,,,,NaN,NaN,NaN

In [16]:
#rinomino alcune delle colonne di paper
paper_df.rename(columns={'id':'paper_id','venue.id': 'venue_id', 'venue.raw': 'venue_raw','venue.type':'venue_type'}, inplace=True)

In [17]:
#elaboro la percentuale di valori mancanti (NaN o ''), mi sarà utile per determinare quali attibuti sono opzionali
for columns in paper_df.columns:
  countMissValue(paper_df,columns)

Percentuale di valori nulli per la colonna paper_id = 0.0%
Percentuale di valori nulli per la colonna title = 0.0%
Percentuale di valori nulli per la colonna year = 0.0%
Percentuale di valori nulli per la colonna n_citation = 0.0%
Percentuale di valori nulli per la colonna page_start = 10.989580640870376%
Percentuale di valori nulli per la colonna page_end = 15.97310864204241%
Percentuale di valori nulli per la colonna doc_type = 10.20503822692924%
Percentuale di valori nulli per la colonna publisher = 15.526424567889707%
Percentuale di valori nulli per la colonna volume = 55.391338444151614%
Percentuale di valori nulli per la colonna issue = 66.93458993069767%
Percentuale di valori nulli per la colonna doi = 19.88376528867732%
Percentuale di valori nulli per la colonna abstract = 13.517582425890309%
Percentuale di valori nulli per la colonna references = 22.822673104126366%
Percentuale di valori nulli per la colonna nb_references = 0.0%
Percentuale di valori nulli per la colonna venue_raw = 1.4934625892637672%
Percentuale di valori nulli per la colonna venue_id = 10.667925607005877%
Percentuale di valori nulli per la colonna venue_type = 10.667884741164958%
Percentuale di valori nulli per la colonna author.name = 100.0%
Percentuale di valori nulli per la colonna author.id = 100.0%
Percentuale di valori nulli per la colonna author.org = 100.0%
Percentuale di valori nulli per la colonna fos.name = 100.0%
Percentuale di valori nulli per la colonna fos.w = 100.0%
Percentuale di valori nulli per la colonna alias_ids = 99.56257203881519%

In [18]:
#elimino le colonne che hanno il 100% di valori nulli
paper_df.drop(['author.id','author.name','author.org','fos.name','fos.w'], axis='columns',inplace=True)

In [19]:
#DA TOGLIERErimpiazzo con NaN i valori '' nel dataframe
fill_empty_values(paper_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 18 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int64
 3   n_citation     4894063 non-null  int64
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  object
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  object
 9   issue          1618242 non-null  object
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  references     3777107 non-null  object
 13  nb_references  4894063 non-null  int64
 14  venue_raw      4820972 non-null  object
 15  venue_id       4371968 non-null  float64
 16  venue_type     4371970 non-null  object
 17  alias_ids      21408 non-null    object
dtypes: float64(1), int64(4), object(13)
memory usage: 672.1+ MB

In [20]:
#controllare che restituisca come sopra
fill_with_nan(paper_df,'')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 18 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int64
 3   n_citation     4894063 non-null  int64
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  object
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  object
 9   issue          1618242 non-null  object
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  references     3777107 non-null  object
 13  nb_references  4894063 non-null  int64
 14  venue_raw      4820972 non-null  object
 15  venue_id       4371968 non-null  float64
 16  venue_type     4371970 non-null  object
 17  alias_ids      21408 non-null    object
dtypes: float64(1), int64(4), object(13)
memory usage: 672.1+ MB

### 1.1) Creo il dataframe references

In [33]:
reference_df=pd.DataFrame()
reference_df=paper_df[['paper_id','nb_references','references']]
reference_df.head()

    paper_id  nb_references                                         references
0  339090091              0                                                NaN
1  339107753             10  [1576770735, 2013747113, 2015585705, 202096941...
2  339147017              8  [1990643081, 1998297310, 2022049687, 203079886...
3  339159418              0                                                NaN
4  337814053              0                                                NaN

In [34]:
#seleziono solo le righe che hanno almeno una reference, ossia quelle per cui nb_reference!=0
reference_mask=reference_df['nb_references']!=0
reference_df=reference_df[reference_mask]

In [35]:
reference_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3777107 entries, 1 to 4894062
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       3777107 non-null  int64
 1   nb_references  3777107 non-null  int64
 2   references     3777107 non-null  object
dtypes: int64(2), object(1)
memory usage: 115.3+ MB

In [36]:
#creo il dataframe per reference tramite il metodo explode per trasformare ogni elemento della lista di reference in una riga del dataframe
#con il relativo id associato
reference=reference_df.explode('references',ignore_index=True)

In [41]:
#elimino la colonna nb_reference
reference.drop(['nb_references'], axis='columns',inplace=True) 
reference['references']=(reference['references']).astype('int64',copy=False)

In [48]:
reference.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45564149 entries, 0 to 45564148
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   paper_id    int64
 1   referenced  int64
dtypes: int64(2)
memory usage: 695.3 MB

In [43]:
reference.head()

    paper_id  references
0  339107753  1576770735
1  339107753  2013747113
2  339107753  2015585705
3  339107753  2020969418
4  339107753  2042562411

In [44]:
reference.rename(columns={'references': 'referenced'}, inplace=True)

### 1.1) Creo il dataframe alias_id, with_alias

In [25]:
alias_id_df=paper_df[['paper_id','alias_ids']]
alias_id_df.head()

    paper_id alias_ids
0  339090091       NaN
1  339107753       NaN
2  339147017       NaN
3  339159418       NaN
4  337814053       NaN

In [26]:
alias_id_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   paper_id   4894063 non-null  int64
 1   alias_ids  21408 non-null    object
dtypes: int64(1), object(1)
memory usage: 74.7+ MB

In [27]:
#metto in una tabella solo le righe per cui alias_ids NON è nullo
with_alias=alias_id_df[alias_id_df['alias_ids'].notna()]
with_alias.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21408 entries, 745 to 4830493
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   paper_id   21408 non-null  int64
 1   alias_ids  21408 non-null  object
dtypes: int64(1), object(1)
memory usage: 501.8+ KB

In [28]:
with_alias.head()

      paper_id                                          alias_ids
745  309275459                           [1512739453, 2073301650]
746  302145293  [1580423256, 2021606132, 2044734704, 218271386...
747  356357159  [1969431044, 1969971101, 1997068418, 200376253...
748  331433967   [1596557885, 1599880910, 2281383042, 2626806569]
749  300762860                           [1913348582, 2186240378]

In [29]:
#espando la colonna alias_ids
with_alias=with_alias.explode('alias_ids',ignore_index=True)
with_alias.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77909 entries, 0 to 77908
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   paper_id   77909 non-null  int64
 1   alias_ids  77909 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

In [30]:
#controllo se i valori di alias_ids sono contenuti nella colonna id di paper
(with_alias['alias_ids']).isin(paper_df['paper_id']).any()

False

In [31]:
with_alias.head()

    paper_id   alias_ids
0  309275459  1512739453
1  309275459  2073301650
2  302145293  1580423256
3  302145293  2021606132
4  302145293  2044734704

In [32]:
#eseguo il cast della colonna alias_ids di with_alias affinchè sia di tipo int64
with_alias['alias_ids']=with_alias['alias_ids'].astype('int64',copy=False)
with_alias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77909 entries, 0 to 77908
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   paper_id   77909 non-null  int64
 1   alias_ids  77909 non-null  int64
dtypes: int64(2)
memory usage: 1.2 MB

In [33]:
#creo il dataframe (series) per alias_id
alias_id=with_alias['alias_ids']

In [34]:
#verifico che non ci siano duplicati tra i valori di alias_id
alias_id[alias_id.duplicated(keep=False)]

Series([], Name: alias_ids, dtype: int64)

In [35]:
alias_id

0        1512739453
1        2073301650
2        1580423256
3        2021606132
4        2044734704
            ...
77904    2918542346
77905    2807726370
77906    2951913927
77907    3006396662
77908    3006419191
Name: alias_ids, Length: 77909, dtype: int64

### 1.2) Elaborazione su paper_df

In [45]:
#elimino la colonna alias_ids
paper_df.drop(['alias_ids','references'], axis='columns',inplace=True)

In [36]:
#verifico che ci siano un nr. limitato di valori per doc_type per fare il cast a category
paper_df['doc_type'].unique()

array(['Conference', 'Journal', nan, 'Book', 'Repository', 'Patent',
       'BookChapter'], dtype=object)

In [37]:
#verifico che ci siano un nr. limitato di valori per venue_type per fare il cast a category
paper_df['venue_type'].unique()

array(['C', 'J', nan], dtype=object)

In [38]:
#provo il cast a bigint, poi faccio downcast, non posso usare to_numeric perchè contiene valori Nan
paper_df['volume']=(paper_df['volume']).astype('Int64',copy=False)
paper_df['issue']=(paper_df['issue']).astype('Int64',copy=False)

In [39]:
#controllo i massimi per capire a quale tipo di int fare il cast
print(paper_df['paper_id'].max())
print(paper_df['year'].max())
print(paper_df['n_citation'].max())
print(paper_df['nb_references'].max())
print(paper_df['venue_id'].max())
print(paper_df['volume'].max())
print(paper_df['issue'].max())

3009038462
2020
48327
1812
2996807011.0
9783642544323
9789812879356

In [40]:
print(paper_df['paper_id'].min())
print(paper_df['year'].min())
print(paper_df['n_citation'].min())
print(paper_df['nb_references'].min())
print(paper_df['venue_id'].min())
print(paper_df['volume'].min())
print(paper_df['issue'].min())

1091
1800
0
0
182001.0
-11
-77

In [41]:
#cast
paper_df['doc_type']=(paper_df['doc_type']).astype('category',copy=False)
paper_df['venue_type']=(paper_df['venue_type']).astype('category',copy=False)
#eseguo il cast della colonna venue_id di paper_df affinchè sia di tipo Int64 (pandas ExtensionDtype, per usare tipo int con valori mancanti)
paper_df['venue_id']=(paper_df['venue_id']).astype('Int64',copy=False)
#cast
paper_df['year']=(paper_df['year']).astype('int16',copy=False)
paper_df['n_citation']=(paper_df['n_citation']).astype('int16',copy=False)
paper_df['nb_references']=(paper_df['nb_references']).astype('int16',copy=False)
paper_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 17 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int16
 3   n_citation     4894063 non-null  int16
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  category
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  Int64
 9   issue          1618242 non-null  Int64
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  nb_references  4894063 non-null  int16
 13  venue_raw      4820972 non-null  object
 14  venue_id       4371968 non-null  Int64
 15  venue_type     4371970 non-null  category
 16  alias_ids      21408 non-null    object
dtypes: Int64(3), category(2), int16(3), int64(1), object(8)
memory usage: 499.4+ MB

In [42]:
column_with_special_char(paper_df,'&#x')

40870     Making Micrologic: The Development of the Plan...
76296     Enhanced CSMA&#x002F;CA Protocol Design for In...
89913     NOMA&#x002F;OMA Mode Selection-Based Cell-Free...
108143                                 Me &#x2014; Your ISP
144497    Proportional Fairness in Wireless Powered CSMA...
Name: title, dtype: object

Series([], Name: page_start, dtype: object)

Series([], Name: page_end, dtype: object)

71599     CHI Conference on Human Factors in Computing S...
278652    Journal of Computer Supported Co&#x2212;operat...
572144    Lecture Notes in Artificial Intelligence&#x201...
575838    Understanding the User&#x2212;Logging and Inte...
645891    IEEE CCNC&#x201a; Fifth IEEE Consumer Communic...
Name: publisher, dtype: object

Series([], Name: doi, dtype: object)

Series([], Name: abstract, dtype: object)

483774    Proceedings of the 24th International Conferen...
553585    2008 Simp&#x0F3;sio Brasileiro de Sistemas Col...
572144    Lecture Notes in Artificial Intelligence&#x201...
606711    2008 Simp&#x0F3;sio Brasileiro de Sistemas Col...
606885    2008 Simp&#x0F3;sio Brasileiro de Sistemas Col...
Name: venue_raw, dtype: object

Series([], Name: alias_ids, dtype: object)

In [43]:
paper_df.head()

,paper_id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,doi,abstract,nb_references,venue_raw,venue_id,venue_type,alias_ids
0,339090091,Document Classification with Recommendation Ar...,2002,0,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,NaN,0,Australasian Document Computing Symposium,1147924868,C,NaN
1,339107753,Linking Operational Semantics and Algebraic Se...,2013,0,380,396,Conference,"Springer, Berlin, Heidelberg",<NA>,<NA>,10.1007/978-3-642-41202-8_25,Wireless technology has achieved lots of appli...,10,International Conference on Formal Engineering...,1133365479,C,NaN
2,339147017,"On (p, q)-analogue of Bernstein operators",2015,114,874,882,Journal,Elsevier,266,<NA>,10.1016/j.amc.2015.04.090,"In this paper, we introduce a new analogue of ...",8,Applied Mathematics and Computation,50372074,J,NaN
3,339159418,On the Number of Permutations Performable by E...,1987,0,461,470,Conference,NaN,<NA>,<NA>,NaN,NaN,0,International Conference on Parallel Processing,1155899826,C,NaN
4,337814053,Leveraging MARF for the Simulation of Securing...,2009,0,46,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,0,HSC,<NA>,NaN,NaN

In [46]:
unescape_special_char(paper_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 16 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int16
 3   n_citation     4894063 non-null  int16
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  category
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  Int64
 9   issue          1618242 non-null  Int64
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  nb_references  4894063 non-null  int16
 13  venue_raw      4820972 non-null  object
 14  venue_id       4371968 non-null  Int64
 15  venue_type     4371970 non-null  category
dtypes: Int64(3), category(2), int16(3), int64(1), object(7)
memory usage: 462.1+ MB

,paper_id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,doi,abstract,nb_references,venue_raw,venue_id,venue_type
0,339090091,Document Classification with Recommendation Ar...,2002,0,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,NaN,0,Australasian Document Computing Symposium,1147924868,C
1,339107753,Linking Operational Semantics and Algebraic Se...,2013,0,380,396,Conference,"Springer, Berlin, Heidelberg",<NA>,<NA>,10.1007/978-3-642-41202-8_25,Wireless technology has achieved lots of appli...,10,International Conference on Formal Engineering...,1133365479,C
2,339147017,"On (p, q)-analogue of Bernstein operators",2015,114,874,882,Journal,Elsevier,266,<NA>,10.1016/j.amc.2015.04.090,"In this paper, we introduce a new analogue of ...",8,Applied Mathematics and Computation,50372074,J
3,339159418,On the Number of Permutations Performable by E...,1987,0,461,470,Conference,NaN,<NA>,<NA>,NaN,NaN,0,International Conference on Parallel Processing,1155899826,C
4,337814053,Leveraging MARF for the Simulation of Securing...,2009,0,46,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,0,HSC,<NA>,NaN

In [47]:
#controllo che abbia funzionato
paper_df.loc[278652,'publisher']

'Journal of Computer Supported Co−operative Work'

In [48]:
#controverifica: controllo che le percentuali di valori nulli non sia cambiata rispetto a prima di utilizzare fill_empty_values
for columns in paper_df.columns:
  countNaNValue(paper_df,columns)

Percentuale di valori nulli per la colonna paper_id = 0.0%
Percentuale di valori nulli per la colonna title = 0.0%
Percentuale di valori nulli per la colonna year = 0.0%
Percentuale di valori nulli per la colonna n_citation = 0.0%
Percentuale di valori nulli per la colonna page_start = 10.989580640870376%
Percentuale di valori nulli per la colonna page_end = 15.97310864204241%
Percentuale di valori nulli per la colonna doc_type = 10.20503822692924%
Percentuale di valori nulli per la colonna publisher = 15.526424567889707%
Percentuale di valori nulli per la colonna volume = 55.391338444151614%
Percentuale di valori nulli per la colonna issue = 66.93458993069767%
Percentuale di valori nulli per la colonna doi = 19.88376528867732%
Percentuale di valori nulli per la colonna abstract = 13.517582425890309%
Percentuale di valori nulli per la colonna nb_references = 0.0%
Percentuale di valori nulli per la colonna venue_raw = 1.4934625892637672%
Percentuale di valori nulli per la colonna venue_id = 10.667925607005877%
Percentuale di valori nulli per la colonna venue_type = 10.667884741164958%

In [49]:
#controllo che non ci siano duplicati tra gli id di paper_df
paper_df[paper_df.duplicated(subset=['paper_id'],keep=False)].sort_values(by='paper_id')

Empty DataFrame
Columns: [paper_id, title, year, n_citation, page_start, page_end, doc_type, publisher, volume, issue, doi, abstract, nb_references, venue_raw, venue_id, venue_type]
Index: []

### 1.1) Creo dataframe per venue

In [148]:
#RIMUOVERE creo il dataframe vuoto per venue
venue=pd.DataFrame()

In [149]:
#inizializzo il dataframe venue con le relative colonne di paper_df
venue=paper_df[['venue_id','venue_raw','venue_type']]

In [150]:
venue.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894063 entries, 0 to 4894062
Data columns (total 3 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   venue_id    4371968 non-null  Int64
 1   venue_raw   4820972 non-null  object
 2   venue_type  4371970 non-null  category
dtypes: Int64(1), category(1), object(1)
memory usage: 84.0+ MB

In [151]:
#elimino valori nulli e duplicati da venue
delNullDuplicates(venue)

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_795/1491376766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49202 entries, 0 to 49201
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    10480 non-null  Int64
 1   venue_raw   49201 non-null  object
 2   venue_type  10482 non-null  category
dtypes: Int64(1), category(1), object(1)
memory usage: 865.1+ KB

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_795/1491376766.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

In [54]:
#controllo la percentuale divalori nulli all'interno di venue (RIDONDANTE DA TOGLIERE)
for columns in venue.columns:
  countNaNValue(venue,columns)

Percentuale di valori nulli per la colonna venue_id = 78.70005284338035%
Percentuale di valori nulli per la colonna venue_raw = 0.002032437705784318%
Percentuale di valori nulli per la colonna venue_type = 78.69598796796879%

In [55]:
venue.head()

     venue_id                                          venue_raw venue_type
0  1147924868          Australasian Document Computing Symposium          C
1  1133365479  International Conference on Formal Engineering...          C
2    50372074                Applied Mathematics and Computation          J
3  1155899826    International Conference on Parallel Processing          C
4        <NA>                                                HSC        NaN

In [68]:
#visualizzo quei valori per cui venue.raw è nullo,ce n'è solo uno, TOGLIERE DOPO OR, è TUTTO NAN
venue[(venue['venue_raw'].isna() | (venue['venue_raw']==''))]

       venue_id venue_raw venue_type
29004      <NA>       NaN          C

#### 1.1-a) Verifico la presenza di duplicati a causa di dati mancanti nei record di venue

In [66]:
#verifica: caso in cui ho duplicati su venue_id e venue_raw
venue[venue.duplicated(subset=['venue_id','venue_raw'],keep=False)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    0 non-null      Int64
 1   venue_raw   0 non-null      object
 2   venue_type  0 non-null      category
dtypes: Int64(1), category(1), object(1)
memory usage: 124.0+ bytes

In [69]:
#verifica:caso in cui ho duplicati su venue_type e venue_raw, ho due valori omonimi su venue_raw con id differenti, li considero come due record differenti
venue[venue.duplicated(subset=['venue_raw','venue_type'],keep=False)]

        venue_id                  venue_raw venue_type
224   2595313807  arXiv: Numerical Analysis          J
8552  2595836090  arXiv: Numerical Analysis          J

In [70]:
##verifica: caso in cui ho duplicati su venue_id e venue_type, li salvo in un dataframe temporaneo
venue_null=venue[venue.duplicated(subset=['venue_id','venue_type'],keep=False)]
venue_null

       venue_id                                          venue_raw venue_type
4          <NA>                                                HSC        NaN
5          <NA>                                            VisMath        NaN
6          <NA>                            Int. Arab J. e-Technol.        NaN
7          <NA>  Korean Journal of Computational & Applied Math...        NaN
8          <NA>  OTM Confederated International Conferences "On...        NaN
...         ...                                                ...        ...
49196      <NA>  Dagstuhl Seminar 14031 Randomized Timed and Hy...        NaN
49197      <NA>  Revue des sciences et technologies de l'inform...        NaN
49198      <NA>  Human Centered Robot Systems: Cognition, Inter...        NaN
49199      <NA>  Semantic Web: Wege zur vernetzten Wissensgesel...        NaN
49201      <NA>      International Encyclopedia of Human Geography        NaN

[38722 rows x 3 columns]

In [71]:
#verifico quanti sono i duplicati a causa di valori nulli in venue_null
venue_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38722 entries, 4 to 49201
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    0 non-null      Int64
 1   venue_raw   38721 non-null  object
 2   venue_type  2 non-null      category
dtypes: Int64(1), category(1), object(1)
memory usage: 983.3+ KB

In [72]:
#ci sono due venue_type duplicati non nulli, verifico quali sono questi valori, vedo che fanno riferimento a due record diversi
venue_null[venue_null['venue_type'].notna()]

       venue_id                        venue_raw venue_type
6961       <NA>  hot topics in software upgrades          C
29004      <NA>                              NaN          C

In [73]:
#verifica: caso in cui ho duplicati su venue_id, verifico quanti sono i duplicati a causa di valori nulli, stesso numero di casi sopra
venue[venue.duplicated(subset=['venue_id'], keep=False)] .info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38722 entries, 4 to 49201
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    0 non-null      Int64
 1   venue_raw   38721 non-null  object
 2   venue_type  2 non-null      category
dtypes: Int64(1), category(1), object(1)
memory usage: 983.3+ KB

In [ ]:
#verifica: caso in cui ho duplicati su venue_raw, fanno riferimento a record diversi, non ci sono duplicati
#non ha senso fare la stessa elaborazione su venue_type
venue[venue.duplicated(subset=['venue_raw'], keep=False)]

,venue_id,venue_raw,venue_type
29,2757487807,American Medical Informatics Association Annua...,C
198,1120693805,Computational Intelligence,C
224,2595313807,arXiv: Numerical Analysis,J
320,1123077274,Soft Computing,C
696,1182309694,Decision Support Systems,C
874,183492911,Proceedings of SPIE,J
1109,1001063841,Künstliche Intelligenz,J
1133,1201250571,Intelligent Data Analysis,C
1215,65753830,Soft Computing,J
1631,<NA>,Künstliche Intelligenz,NaN
2386,1168542559,Data and Knowledge Engineering,C
2398,11479521,Decision Support Systems,J
2637,2605467207,Workshop on Hot Topics in Operating Systems,C
5526,<NA>,Aslib Proceedings,NaN
5878,<NA>,Proceedings of SPIE,NaN
6189,2595095599,Frontiers in Robotics and AI,J
7734,<NA>,SIAM Journal on Applied Algebra and Geometry,NaN
8552,2595836090,arXiv: Numerical Analysis,J
8554,2751751161,Social Science Research Network,J
9348,<NA>,Social Science Research Network,NaN
11470,2996807011,SIAM Journal on Applied Algebra and Geometry,J
13365,2498839158,Intelligent Data Analysis,J
16717,<NA>,BMC Proceedings,NaN
19413,97068678,Aslib Proceedings,J
19570,<NA>,Frontiers in Robotics and AI,NaN
26377,<NA>,Workshop on Hot Topics in Operating Systems,NaN
34067,49206733,BMC Proceedings,J
36428,<NA>,American Medical Informatics Association Annua...,NaN
38136,136993123,Data and Knowledge Engineering,J
45217,56561474,Computational Intelligence,J

#### 1.1-b)Elaborazione di venue, per ottenere venue_id_new che diventerà la chiave primaria per la tabella venue

In [152]:
#creo la colonna venue_id_new chiamando la funzione di hash sul dataframe venue, ne prendo il valore assoluto perchè lo voglio positivo, faccio il cast
#a int64
venue['venue_id_new']=abs((pd.util.hash_pandas_object(venue, index=False)).astype('int64',copy=False))

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_795/3331682725.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue['venue_id_new']=abs((pd.util.hash_pandas_object(venue, index=False)).astype('int64',copy=False))

In [163]:
#controllo che non ci siano duplicati tra gli id, non dovrebbero esserci dato che non ci sono tra i record di venue
venue[venue.duplicated(subset=['venue_id_new'])]

Empty DataFrame
Columns: [venue_id, venue_raw, venue_type, venue_id_new]
Index: []

In [154]:
venue.head()

,venue_id,venue_raw,venue_type,venue_id_new
0,1147924868,Australasian Document Computing Symposium,C,4485894401032707713
1,1133365479,International Conference on Formal Engineering...,C,8569721686983051283
2,50372074,Applied Mathematics and Computation,J,3494791485537028207
3,1155899826,International Conference on Parallel Processing,C,7651271195938326231
4,<NA>,HSC,NaN,6944349850374290863

In [155]:
venue.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49202 entries, 0 to 49201
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   venue_id      10480 non-null  Int64
 1   venue_raw     49201 non-null  object
 2   venue_type    10482 non-null  category
 3   venue_id_new  49202 non-null  int64
dtypes: Int64(1), category(1), int64(1), object(1)
memory usage: 1.2+ MB

In [156]:
venue['venue_id_new']=(venue['venue_id_new']).astype('float',copy=False)
venue.head()

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_795/3488862962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue['venue_id_new']=(venue['venue_id_new']).astype('float',copy=False)

,venue_id,venue_raw,venue_type,venue_id_new
0,1147924868,Australasian Document Computing Symposium,C,4.485894e+18
1,1133365479,International Conference on Formal Engineering...,C,8.569722e+18
2,50372074,Applied Mathematics and Computation,J,3.494791e+18
3,1155899826,International Conference on Parallel Processing,C,7.651271e+18
4,<NA>,HSC,NaN,6.944350e+18

In [157]:
venue['venue_id_new']=(venue['venue_id_new']).astype('Int64',copy=False)
venue.head()

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_795/666567786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue['venue_id_new']=(venue['venue_id_new']).astype('Int64',copy=False)

,venue_id,venue_raw,venue_type,venue_id_new
0,1147924868,Australasian Document Computing Symposium,C,4485894401032707584
1,1133365479,International Conference on Formal Engineering...,C,8569721686983051264
2,50372074,Applied Mathematics and Computation,J,3494791485537028096
3,1155899826,International Conference on Parallel Processing,C,7651271195938326528
4,<NA>,HSC,NaN,6944349850374290432

In [87]:
#paper[paper['venue_id_new']==4485894401032707584]
#paper_df[paper_df['venue_raw']=='Australasian Document Computing Symposium']

,paper_id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,doi,abstract,nb_references,venue_raw,venue_id,venue_type
0,339090091,Document Classification with Recommendation Ar...,2002,0,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,NaN,0,Australasian Document Computing Symposium,1147924868,C
19844,187984960,Focused crawling in depression portal search: ...,2004,14,1,9,Conference,University of Melbourne,<NA>,<NA>,NaN,Previous work on domain specific search servic...,10,Australasian Document Computing Symposium,1147924868,C
20959,192674993,Visualisation of Document and Concept Spaces.,2002,1,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,Collections of documents with conceptual relat...,2,Australasian Document Computing Symposium,1147924868,C
70377,1515935322,Novel Group Awareness Mechanisms for Real-Time...,2004,1,33,40,Conference,NaN,<NA>,<NA>,NaN,Group awareness has become important in improv...,8,Australasian Document Computing Symposium,1147924868,C
122379,2029645705,Classifying microblogs for disasters,2013,21,26,33,Conference,ACM,<NA>,<NA>,10.1145/2537734.2537737,Monitoring social media in critical disaster s...,19,Australasian Document Computing Symposium,1147924868,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4710840,1999612496,Automated Categorisation of Patent Claims that...,2014,1,117,120,Conference,Association for Computing Machinery (ACM),<NA>,<NA>,10.1145/2682862.2682872,Debates on gene patents have necessitated the ...,5,Australasian Document Computing Symposium,1147924868,C
4792367,2771723090,Early Termination Heuristics for Score-at-a-Ti...,2017,2,1,8,Conference,ACM,<NA>,<NA>,10.1145/3166072.3166073,Score-at-a-Time index traversal is a query pro...,32,Australasian Document Computing Symposium,1147924868,C
4793926,2773760320,K-Means Clustering of Biological Sequences,2017,0,2,NaN,Conference,ACM,<NA>,<NA>,10.1145/3166072.3166076,The unsupervised clustering of biological sequ...,8,Australasian Document Computing Symposium,1147924868,C
4795562,2902979855,Improving Search Effectiveness with Field-base...,2018,0,1,4,Conference,ACM Press,<NA>,<NA>,10.1145/3291992.3292005,Fields are a valuable auxiliary source of info...,12,Australasian Document Computing Symposium,1147924868,C
4842182,1664197233,Use of Wikipedia Categories in Entity Ranking,2007,9,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,Wikipedia is a useful source of knowledge that...,13,Australasian Document Computing Symposium,1147924868,C

In [88]:
paper[paper['venue_id_new']==4485894401032707584]

,paper_id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,doi,abstract,nb_references,venue_id_new
0,339090091,Document Classification with Recommendation Ar...,2002,0,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,NaN,0,4485894401032707584
19844,187984960,Focused crawling in depression portal search: ...,2004,14,1,9,Conference,University of Melbourne,<NA>,<NA>,NaN,Previous work on domain specific search servic...,10,4485894401032707584
20959,192674993,Visualisation of Document and Concept Spaces.,2002,1,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,Collections of documents with conceptual relat...,2,4485894401032707584
70377,1515935322,Novel Group Awareness Mechanisms for Real-Time...,2004,1,33,40,Conference,NaN,<NA>,<NA>,NaN,Group awareness has become important in improv...,8,4485894401032707584
122379,2029645705,Classifying microblogs for disasters,2013,21,26,33,Conference,ACM,<NA>,<NA>,10.1145/2537734.2537737,Monitoring social media in critical disaster s...,19,4485894401032707584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4710840,1999612496,Automated Categorisation of Patent Claims that...,2014,1,117,120,Conference,Association for Computing Machinery (ACM),<NA>,<NA>,10.1145/2682862.2682872,Debates on gene patents have necessitated the ...,5,4485894401032707584
4792367,2771723090,Early Termination Heuristics for Score-at-a-Ti...,2017,2,1,8,Conference,ACM,<NA>,<NA>,10.1145/3166072.3166073,Score-at-a-Time index traversal is a query pro...,32,4485894401032707584
4793926,2773760320,K-Means Clustering of Biological Sequences,2017,0,2,NaN,Conference,ACM,<NA>,<NA>,10.1145/3166072.3166076,The unsupervised clustering of biological sequ...,8,4485894401032707584
4795562,2902979855,Improving Search Effectiveness with Field-base...,2018,0,1,4,Conference,ACM Press,<NA>,<NA>,10.1145/3291992.3292005,Fields are a valuable auxiliary source of info...,12,4485894401032707584
4842182,1664197233,Use of Wikipedia Categories in Entity Ranking,2007,9,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,Wikipedia is a useful source of knowledge that...,13,4485894401032707584

### 1.2) Creo il dataframe paper

In [ ]:
#paper.drop(['venue_id_new'], axis='columns',inplace=True)
#paper.insert(13, 'venue_id_new', np.nan)

In [158]:
#Eseguo un merge sinistro con il DataFrame paper_df sulle colonne venue_id,venue_raw, venue_type,lo metto in un nuovo DataFrame paper
paper=pd.merge(paper_df,venue, how='left', on=['venue_id','venue_raw','venue_type'])

In [159]:
#eseguo il cast della colonna venue_id_new per paper affinchè sia di tipo Int64(integere di Pandas)
paper['venue_id_new']=(paper['venue_id_new']).astype('Int64',copy=False)
paper.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4894063 entries, 0 to 4894062
Data columns (total 17 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int16
 3   n_citation     4894063 non-null  int16
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  category
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  Int64
 9   issue          1618242 non-null  Int64
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  nb_references  4894063 non-null  int16
 13  venue_raw      4820972 non-null  object
 14  venue_id       4371968 non-null  Int64
 15  venue_type     4371970 non-null  category
 16  venue_id_new   4820973 non-null  Int64
dtypes: Int64(4), category(2), int16(3), int64(1), object(7)
memory usage: 541.4+ MB

In [160]:
paper.head()

,paper_id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,doi,abstract,nb_references,venue_raw,venue_id,venue_type,venue_id_new
0,339090091,Document Classification with Recommendation Ar...,2002,0,NaN,NaN,Conference,NaN,<NA>,<NA>,NaN,NaN,0,Australasian Document Computing Symposium,1147924868,C,4485894401032707584
1,339107753,Linking Operational Semantics and Algebraic Se...,2013,0,380,396,Conference,"Springer, Berlin, Heidelberg",<NA>,<NA>,10.1007/978-3-642-41202-8_25,Wireless technology has achieved lots of appli...,10,International Conference on Formal Engineering...,1133365479,C,8569721686983051264
2,339147017,"On (p, q)-analogue of Bernstein operators",2015,114,874,882,Journal,Elsevier,266,<NA>,10.1016/j.amc.2015.04.090,"In this paper, we introduce a new analogue of ...",8,Applied Mathematics and Computation,50372074,J,3494791485537028096
3,339159418,On the Number of Permutations Performable by E...,1987,0,461,470,Conference,NaN,<NA>,<NA>,NaN,NaN,0,International Conference on Parallel Processing,1155899826,C,7651271195938326528
4,337814053,Leveraging MARF for the Simulation of Securing...,2009,0,46,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,0,HSC,<NA>,NaN,6944349850374290432

In [145]:
int(paper.loc[0,'venue_id_new']) #valore in venue=4485894401032707713

4485894401032707584

In [81]:
#controllare integrità di page_start e page_end, per questo userò il formato text nella tabella del db
paper[paper['page_start'].str.contains('-',na=False)]
paper[paper['page_end'].str.contains('-',na=False)]

,paper_id,title,year,n_citation,page_start,page_end,doc_type,publisher,volume,issue,doi,abstract,nb_references,venue_raw,venue_id,venue_type,venue_id_new
15089,210114714,Verb Sense Disambiguation Using Selectional Pr...,2006,18,139-148,139-148,NaN,NaN,<NA>,<NA>,NaN,This paper investigates whether multisemantic-...,9,Proceedings of the Australasian Language Techn...,<NA>,NaN,1736498298830686976
18906,183680081,The effects of business-to-business relationsh...,2006,7,38-1,38-12,Conference,AIS Electronic Library (AISeL),<NA>,<NA>,NaN,For many organisations e-Procurement has becom...,7,European Conference on Information Systems,1149039622,C,4935946852024457216
20810,191977576,Using a Trie-based Structure for Question Anal...,2004,4,25-31,25-31,NaN,Australian Speech Science and Technology Assoc...,<NA>,<NA>,NaN,This paper presents an approach for question a...,11,Proceedings of the Australasian Language Techn...,<NA>,NaN,2280149079932446720
80233,2923914148,Waveform Flexibility for Network Slicing,2019,0,6250804-1,6250804-15,Journal,Hindawi,2019,<NA>,10.1155/2019/6250804,We discuss the idea of waveform flexibility an...,6,Wireless Communications and Mobile Computing,235346,J,1908152211067986688
85261,2941983400,Chinese-Catalan: A Neural Machine Translation ...,2019,0,43-1,43-8,Conference,Association for Computing Machinery (ACM),18,4,10.1145/3312575,This article innovatively addresses machine tr...,22,ACM Transactions on Asian and Low-Resource Lan...,2754632699,C,2446057510500321280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4869115,2251873128,An iterative topic segmentation algorithm with...,2013,0,739-746,739-746,NaN,NaN,2,<NA>,NaN,NaN,0,Proceedings of TALN 2013 (Volume 2: Short Papers),<NA>,NaN,7627318273535311872
4869125,2252086733,Grouping of terms based on linguistic and sema...,2013,0,62-75,62-75,NaN,NaN,<NA>,<NA>,NaN,NaN,0,Proceedings of TALN 2013 (Volume 1: Long Papers),<NA>,NaN,3602747084010029568
4869127,2252060993,Second order similarity for exploring multilin...,2013,0,651-658,651-658,NaN,NaN,<NA>,<NA>,NaN,NaN,0,Proceedings of TALN 2013 (Volume 2: Short Papers),<NA>,NaN,7627318273535311872
4874679,2405273698,Medium access control (MAC) protocols for wire...,2005,77,3-23,3-44,NaN,CRC Press,<NA>,<NA>,10.1201/9781420035094,NaN,0,Handbook of Algorithms for Wireless Networking...,<NA>,NaN,1027179631326622976
4878403,2553159619,Distribution properties of multiply-with-carry...,1997,0,591-607,591-607,Journal,NaN,<NA>,<NA>,NaN,NaN,0,Experimental Mathematics,119636414,J,2043110634470394112

In [161]:
#rimuovo le colonne in più da paper, queste fanno parte di venue
paper.drop(['venue_id','venue_raw','venue_type'], axis='columns',inplace=True)
paper.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4894063 entries, 0 to 4894062
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   paper_id       4894063 non-null  int64
 1   title          4894063 non-null  object
 2   year           4894063 non-null  int16
 3   n_citation     4894063 non-null  int16
 4   page_start     4356226 non-null  object
 5   page_end       4112329 non-null  object
 6   doc_type       4394622 non-null  category
 7   publisher      4134190 non-null  object
 8   volume         2183176 non-null  Int64
 9   issue          1618242 non-null  Int64
 10  doi            3920939 non-null  object
 11  abstract       4232504 non-null  object
 12  nb_references  4894063 non-null  int16
 13  venue_id_new   4820973 non-null  Int64
dtypes: Int64(3), category(1), int16(3), int64(1), object(6)
memory usage: 457.4+ MB

### Connessione al db Postgresql14, trasmissione dei dataframe in tabelle nel db

In [ ]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/postgres"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()

venue.to_sql(
    "venue", 
    con=engine,
    if_exists='append',
    method='multi',
    index=False, 
    
)

49222

In [ ]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/postgres"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()
paper.to_sql(
    "paper", #nome della tabella
    con=engine,
    if_exists='append',
    method='multi',
    chunksize=10000,
    index=False, #evito di scrivere nella tabella gli indici del dataframe come colonne
    
)

4894063

In [ ]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/postgres"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()
reference.to_sql(
    "reference", #nome della tabella
    con=engine,
    if_exists='append',
    method='multi',
    chunksize=10000,
    index=False, #evito di scrivere nella tabella gli indici del dataframe come colonne
    
)

In [ ]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/postgres"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()
alias_id.to_sql(
    "alias_id",  
    con=engine,
    if_exists='append',
    method='multi',
    index=False,  
    
)

77909

In [ ]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/postgres"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()
with_alias.to_sql(
    "with_alias",  
    con=engine,
    if_exists='append',
    method='multi',
    index=False,  
    
)

77909

### Connessione al db DBLP, trasmissione dei dataframe in tabelle nel db

In [46]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/DBLP"
engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()

In [ ]:
venue.to_sql(
    "venue", 
    con=engine,
    if_exists='append',
    method='multi',
    index=False, 
    
)

venue transmitted

In [ ]:
alias_id.to_sql(
    "alias_id",  
    con=engine,
    if_exists='append',
    method='multi',
    index=False,  
    
)

alias_id transmitted

In [ ]:
paper.to_sql(
    "paper", #nome della tabella
    con=engine,
    if_exists='append',
    method='multi',
    chunksize=10000,
    index=False, #evito di scrivere nella tabella gli indici del dataframe come colonne
    
)

paper transmitted

In [47]:
reference.to_sql(
    "reference", #nome della tabella
    con=engine,
    if_exists='append',
    method='multi',
    chunksize=10000,
    index=False, #evito di scrivere nella tabella gli indici del dataframe come colonne
    
)

45564149

In [ ]:
with_alias.to_sql(
    "with_alias",  
    con=engine,
    if_exists='append',
    method='multi',
    index=False,  
    
)

In [ ]:
connection.close()

with_alias transmitted

## 2) Creo i dataframe per author, who

In [10]:
#creo un dataframe vuoto
author_df=pd.DataFrame()

In [11]:
#leggo il json per chunk, itero sui chunk e chiamo la funzione readJsonChunk
with open ('/Users/autoteamchannel/Downloads/DPLB+SIMPLETEXT/simpleText/task 1/corpus/dblp1.json') as f:
  chunks=pd.read_json(f, lines=True, chunksize=10000) 
  for chunk in chunks:
    source_df=readJsonChunk(chunk,'_source', 'authors', 'id','paper_','author_')
    author_df=pd.concat([author_df,source_df], ignore_index=True)

In [15]:
#NON ESEGUIRE DA TOGLIERE

2350770                A-NULL Bauphysik, Vienna, Austria#TAB#
2684859     Computer Technology, Automation and Metrology ...
8004770                                         INULA, Rennes
8004771                                         INULA, Rennes
8004772                                         INULA, Rennes
8871072                                  CFNUL/FCUL, Portugal
10551439                                 MNUL Hospital KZ as.
10551440                                 MNUL Hospital KZ as.
10551441                                 MNUL Hospital KZ as.
10853445    Computer Technology, Automation and Metrology ...
Name: author_org, dtype: object

In [12]:
author_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26710 entries, 0 to 26709
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   author_name  26710 non-null  object
 1   author_id    26710 non-null  int64
 2   author_org   15226 non-null  object
 3   paper_id     26710 non-null  object
dtypes: int64(1), object(3)
memory usage: 834.8+ KB

In [134]:
#rimpiazzo con NaN i valori '' nel dataframe, se ce ne sono
fill_with_nan(author_df,'')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14934850 entries, 0 to 14934849
Data columns (total 4 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   author_name  14934850 non-null  object
 1   author_id    14934850 non-null  int64
 2   author_org   11361508 non-null  object
 3   paper_id     14934850 non-null  object
dtypes: int64(1), object(3)
memory usage: 455.8+ MB

In [135]:
author_df['paper_id']=(author_df['paper_id']).astype('int64',copy=False)

In [136]:
author_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14934850 entries, 0 to 14934849
Data columns (total 4 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   author_name  14934850 non-null  object
 1   author_id    14934850 non-null  int64
 2   author_org   11361508 non-null  object
 3   paper_id     14934850 non-null  int64
dtypes: int64(2), object(2)
memory usage: 455.8+ MB

In [137]:
author_df.head()

             author_name   author_id                    author_org   paper_id
0       Uditha Ratnayake  2439017310                           NaN  339090091
1        Tamás D. Gedeon  2052936527                           NaN  339090091
2  Nalin Wickramarachchi  2693152212                           NaN  339090091
3            Xiaofeng Wu  2644192757  East China Normal University  339107753
4            Huibiao Zhu  2147595872  East China Normal University  339107753

In [138]:
#così vedo che l'unescape è necessario solo su who
column_with_special_char(author_df,'&#x')

Series([], Name: author_name, dtype: object)

240286    Universidad de Ciencias y Humanidades, Av. Uni...
256252    Smart Microgrid and Renewable Technology &#x00...
256253    Global Energy Interconnection Research Institu...
256255    Smart Microgrid and Renewable Technology &#x00...
309799                                     AT&T Labs&#x2013
Name: author_org, dtype: object

In [141]:
column_with_special_char(author_df,'\x00')

Series([], Name: author_name, dtype: object)

242487    D:Sourav2019 4_APRIL 1.04.2019IEEE 001547_Rakh...
242488    D:Sourav2019 4_APRIL 1.04.2019IEEE 001547_Rakh...
Name: author_org, dtype: object

In [143]:
unescape_special_char(author_df)

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_1989/1961180765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[column]=dataframe[column].map(html.unescape, na_action='ignore') #ho tolto astype('str'). dopo dataframe[column

    paper_id   author_id                    author_org
0  339090091  2439017310                           NaN
1  339090091  2052936527                           NaN
2  339090091  2693152212                           NaN
3  339107753  2644192757  East China Normal University
4  339107753  2147595872  East China Normal University

In [147]:
author_df['author_org'].replace('\x00',' ',inplace=True, regex=True)

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_1989/2750100940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  who['author_org'].replace('\x00',' ',inplace=True, regex=True)

In [148]:
#per controllare che la cella sopra funzioni
author_df[author_df['author_org'].str.contains('\x00',na=False)]['author_org']

Series([], Name: author_org, dtype: object)

In [149]:
#DA TOGLIERE SOLO PER CONTROLLARE
author_df.loc[242487,'author_org']

'D:Sourav2019 4_APRIL 1.04.2019IEEE 001547_Rakhi_O_Rakhi_r_Sourav, National Central University, Taiwan'

### I versione: creo who con attributo aggiuntivo author_org, creo author con id e name, elimino duplicati su id

In [142]:
#creo il dataframe who, usando author_org come attributo di questa tabella
who=author_df[['paper_id','author_id','author_org']]
who.head()

    paper_id   author_id                    author_org
0  339090091  2439017310                           NaN
1  339090091  2052936527                           NaN
2  339090091  2693152212                           NaN
3  339107753  2644192757  East China Normal University
4  339107753  2147595872  East China Normal University

In [144]:
#elimino righe completamente nulle e i duplicati
delNullDuplicates(who)

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_1989/1491376766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici
/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_1989/1491376766.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14934850 entries, 0 to 14934849
Data columns (total 3 columns):
 #   Column      Non-Null Count     Dtype
---  ------      --------------     -----
 0   paper_id    14934850 non-null  int64
 1   author_id   14934850 non-null  int64
 2   author_org  11361508 non-null  object
dtypes: int64(2), object(1)
memory usage: 341.8+ MB

In [150]:
#creo il dataframe per author
author= author_df[['author_id', 'author_name']]
author.head()

    author_id            author_name
0  2439017310       Uditha Ratnayake
1  2052936527        Tamás D. Gedeon
2  2693152212  Nalin Wickramarachchi
3  2644192757            Xiaofeng Wu
4  2147595872            Huibiao Zhu

In [151]:
#elimino righe completamente nulle e i duplicati
delNullDuplicates(author)

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_1989/1491376766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici
/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_1989/1491376766.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5070852 entries, 0 to 5070851
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   author_id    5070852 non-null  int64
 1   author_name  5070852 non-null  object
dtypes: int64(1), object(1)
memory usage: 77.4+ MB

In [152]:
#verifico che i duplicati su author_id sono quei author_name scritti in modi differenti
author[author.duplicated(subset=['author_id'], keep=False)].sort_values(by='author_id')

          author_id           author_name
4136798       32606     Stéphane Debricon
582289        32606     Stephane Debricon
420417        44880  Dario Garcia-Gasulla
1057216       44880     D. Garcia-Gasulla
288324        92734     Brian E. Whitacre
...             ...                   ...
2601655  3008444288           WangTiejian
1523396  3009024956         Alper Ozbilen
4299955  3009024956         Alper OzbIlen
4300751  3009035817   Van der HoevenJoris
1522529  3009035817   Van Der HoevenJoris

[1129902 rows x 2 columns]

In [153]:
#creo il dataframe per la tabella con gli author referenziati in modi diversi
author_extended=author[['author_id','author_name']]
author_extended.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5070852 entries, 0 to 5070851
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   author_id    5070852 non-null  int64
 1   author_name  5070852 non-null  object
dtypes: int64(1), object(1)
memory usage: 77.4+ MB

In [154]:
#elimino i duplicati sul sottoinsieme author_id
author.drop_duplicates(subset=['author_id'],inplace=True, ignore_index=True)
author.info(verbose=True, show_counts=True)

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_1989/277976243.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  author.drop_duplicates(subset=['author_id'],inplace=True, ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398138 entries, 0 to 4398137
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   author_id    4398138 non-null  int64
 1   author_name  4398138 non-null  object
dtypes: int64(1), object(1)
memory usage: 67.1+ MB

#### Connessione al db DBLP

In [155]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/DBLP"
engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()

In [40]:
author.to_sql(
    "author", 
    con=engine,
    if_exists='append',
    method='multi',
    index=False, 
    
)

4398138

In [41]:
author_extended.to_sql(
    "author_extended",  
    con=engine,
    if_exists='append',
    method='multi',
    index=False,  
    
)

5070852

In [156]:
who.to_sql(
    "who", #nome della tabella
    con=engine,
    if_exists='append',
    method='multi',
    chunksize=10000,
    index=False, #evito di scrivere nella tabella gli indici del dataframe come colonne
    
)

In [156]:
connection.close()

#### Connessione al db

In [21]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/postgres"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()
author.to_sql(
    "author",  
    con=engine,
    if_exists='append',
    chunksize=10000,
    method='multi',
    index=False,  
    
)

4398138

In [ ]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/postgres"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()
who.to_sql(
     "who",  
    con=engine,
    if_exists='append',
    chunksize=10000,
    method='multi',
    index=False, 
)

In [23]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/postgres"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()
author_extended.to_sql(
    "author_extended",  
    con=engine,
    if_exists='append',
    chunksize=10000,
    method='multi',
    index=False,  
    
)

5070852

## 3) Creo i dataframe per fos e what

In [13]:
#creo un dataframe vuoto
fos_df=pd.DataFrame()

In [14]:
#leggo il json per chunk, itero sui chunk e chiamo la funzione readJsonChunk
with open ('/Users/autoteamchannel/Downloads/DPLB+SIMPLETEXT/simpleText/task 1/corpus/dblp1.json') as f:
  chunks=pd.read_json(f, lines=True, chunksize=10000)  
  for chunk in chunks:
    source_df=readJsonChunk(chunk,'_source')
    #elimino le colonne in più che non mi servono per i dataframe fos e what
    source_df.drop(['authors','title','year','n_citation','page_start','page_end','doc_type','publisher','volume','issue','doi','abstract','nb_references','venue.raw','venue.id','venue.type','author.name','author.id','author.org','fos.name','fos.w', 'alias_ids','references'], axis=1, inplace=True, errors='ignore')
    #converto il dataframe in dict
    fos_dict = source_df.to_dict(orient='records')
    #memorizzo gli elementi del dict in un dataframe temporaneo che userò per la concatenazione
    fos_tmp=pd.json_normalize(fos_dict,'fos','id','paper_','fos_')
    #concateno il dataframe temporaneo e quello inizialmente vuoto, alla fine del loop conterrà tutti gli elementi della chiave fos
    fos_df=pd.concat([fos_df,fos_tmp])
    break

In [15]:
fos_df.head()

                  fos_name    fos_w   paper_id
0  Document classification  0.69468  339090091
1              Data mining  0.45555  339090091
2             Architecture  0.44832  339090091
3    Information retrieval  0.46439  339090091
4         Computer science  0.43309  339090091

In [ ]:
#senza l'elaborazione precedente mi restituisce un errore relativo alla chiave fos, 
#in quanto json_normalize funziona sulle liste di oggetti
fos_df=pd.DataFrame()
with open ('/content/drive/MyDrive/dblp1.json') as f:
  chunks=pd.read_json(f, lines=True, chunksize=10000) 
  for chunk in chunks:
    source_df=readJsonChunk(chunk,'_source', 'fos', 'id','paper_','fos_')
    fos_df=pd.concat([fos_df,source_df], ignore_index=True)

TypeError: ignored

In [53]:
fos_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45029752 entries, 0 to 26609
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   fos_name  45029752 non-null  object
 1   fos_w     45029752 non-null  float64
 2   paper_id  45029752 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.3+ GB

In [55]:
#rimpiazzo con NaN i valori '' nel dataframe, se ce ne sono
fill_with_nan(fos_df,'')
#fill_empty_values(fos_df)
#fos_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45029752 entries, 0 to 26609
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   fos_name  45029752 non-null  object
 1   fos_w     45029752 non-null  float64
 2   paper_id  45029752 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.3+ GB

In [56]:
#effettuo il cast della colonna paper_id affinchè sia di tipo int64
fos_df['paper_id']=(fos_df['paper_id']).astype('int64',copy=False)
fos_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45029752 entries, 0 to 26609
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   fos_name  45029752 non-null  object
 1   fos_w     45029752 non-null  float64
 2   paper_id  45029752 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ GB

In [57]:
#?????????????? controllare se ce ne sono con il json completo
fos_df[fos_df.duplicated(keep=False)]

                  fos_name  fos_w    paper_id
10042  Radius of curvature    0.0  2121529848
10045  Radius of curvature    0.0  2121529848
21819  Radius of curvature    0.0  2131733916
21821  Radius of curvature    0.0  2131733916
36206  Radius of curvature    0.0   162420740
36207  Radius of curvature    0.0   162420740
87997  Radius of curvature    0.0  1998680315
87998  Radius of curvature    0.0  1998680315

In [58]:
column_with_special_char(fos_df,'&#x')

Series([], Name: fos_name, dtype: object)

In [59]:
column_with_special_char(fos_df,'\x00')

Series([], Name: fos_name, dtype: object)

In [ ]:
#NON SERVE unescape_special_char(fos_df)

In [71]:
delNullDuplicates(fos_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45029748 entries, 0 to 45029747
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   fos_name  45029748 non-null  object
 1   fos_w     45029748 non-null  float64
 2   paper_id  45029748 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.0+ GB

### 3.1)Creo il dataframe per fos

In [72]:
#creo il dataframe fos, mi recupero solo la colonna fos_name
fos=fos_df[['fos_name']] 
fos.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45029748 entries, 0 to 45029747
Data columns (total 1 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   fos_name  45029748 non-null  object
dtypes: object(1)
memory usage: 343.5+ MB

In [73]:
#elimino righe completamente nulle e duplicate
delNullDuplicates(fos)

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_811/1491376766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(axis='index', #effettua l'eliminazione lungo l'asse degli indici

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132337 entries, 0 to 132336
Data columns (total 1 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   fos_name  132337 non-null  object
dtypes: object(1)
memory usage: 1.0+ MB

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_811/1491376766.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.drop_duplicates(inplace=True, #effettua l'operazione sul dataframe anzichè restituire una copia

In [74]:
#creo la colonna fos_id chiamando la funzione di hash sulla colonna fos_name del dataframe fos, ne prendo il valore 
#assoluto perchè lo voglio positivo, faccio il cast a int64
fos['fos_id']=abs((pd.util.hash_pandas_object(fos['fos_name'], index=False)).astype('int64',copy=False))
fos.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132337 entries, 0 to 132336
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   fos_name  132337 non-null  object
 1   fos_id    132337 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.0+ MB

/var/folders/br/6gdrmps94h75yv4f9c5z85cc0000gp/T/ipykernel_811/1914854685.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fos['fos_id']=abs((pd.util.hash_pandas_object(fos['fos_name'], index=False)).astype('int64',copy=False))

In [75]:
fos.head()

                  fos_name               fos_id
0  Document classification  2327147663575869634
1              Data mining  4665335034795509444
2             Architecture  1152322273774116850
3    Information retrieval  4026003339559991958
4         Computer science  7525902179239870535

### 3.2)Creo il dataframe per what

In [76]:
#Eseguo un merge sinistro con il DataFrame what_df sulle colonne sulla colonna fos_name,si aggiunge a what_df la colonna fos_id
what_df=pd.merge(fos_df,fos, how='left', on=['fos_name'])  
what_df.head()

                  fos_name    fos_w   paper_id               fos_id
0  Document classification  0.69468  339090091  2327147663575869634
1              Data mining  0.45555  339090091  4665335034795509444
2             Architecture  0.44832  339090091  1152322273774116850
3    Information retrieval  0.46439  339090091  4026003339559991958
4         Computer science  0.43309  339090091  7525902179239870535

In [77]:
#creo dataframe per what con solo le colonne di interesse
what=what_df[['paper_id', 'fos_id','fos_w']]  
what.head()

    paper_id               fos_id    fos_w
0  339090091  2327147663575869634  0.69468
1  339090091  4665335034795509444  0.45555
2  339090091  1152322273774116850  0.44832
3  339090091  4026003339559991958  0.46439
4  339090091  7525902179239870535  0.43309

In [78]:
#controllo i dtype
what.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45029748 entries, 0 to 45029747
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   paper_id  45029748 non-null  int64
 1   fos_id    45029748 non-null  int64
 2   fos_w     45029748 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.3 GB

### 3.2-a)Controllo i duplicati e l'integrità dei dati su what

In [79]:
#controllo i duplicati su tutti e tre le colonne, sono quelli con w=0.0
what[what.duplicated(keep=False)]

Empty DataFrame
Columns: [paper_id, fos_id, fos_w]
Index: []

In [80]:
#per i recordo con tutti e tre i campi uguali elimino i duplicati
#what.drop_duplicates(inplace=True, ignore_index=True)

In [81]:
#sono 4 in meno perchè ho rimosso i duplicati
what.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45029748 entries, 0 to 45029747
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   paper_id  45029748 non-null  int64
 1   fos_id    45029748 non-null  int64
 2   fos_w     45029748 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.3 GB

In [82]:
#inconsistenza nei dati-ci sono gli stessi fos_id per lo stesso paper_id con fos_w diversi, 
#ho già eliminato quelli per cui fos_w=0 sopra
what[what.duplicated(subset=['paper_id','fos_id'],keep=False)]

           paper_id               fos_id    fos_w
1509      343508979  6085142751177538912  0.51139
1514      343508979  6085142751177538912  0.55443
1679      344933984  2944957122652254844  0.56024
1681      344933984  2944957122652254844  0.45924
4038      364434733  2944957122652254844  0.61969
...             ...                  ...      ...
45026581  901847546  2944957122652254844  0.45140
45026956   92017784  2944957122652254844  0.55775
45026957   92017784  2944957122652254844  0.46681
45029172  982847529  2944957122652254844  0.60146
45029176  982847529  2944957122652254844  0.48424

[84922 rows x 3 columns]

In [83]:
#verifico i duplicati in fos_df, stesso fos_name associato allo stesso paper_id con fos_w diversi
fos_df[fos_df.duplicated(subset=('fos_name','paper_id'),keep=False)]

                       fos_name    fos_w   paper_id
1509      Latency (engineering)  0.51139  343508979
1514      Latency (engineering)  0.55443  343508979
1679             Control theory  0.56024  344933984
1681             Control theory  0.45924  344933984
4038             Control theory  0.61969  364434733
...                         ...      ...        ...
45026581         Control theory  0.45140  901847546
45026956         Control theory  0.55775   92017784
45026957         Control theory  0.46681   92017784
45029172         Control theory  0.60146  982847529
45029176         Control theory  0.48424  982847529

[84922 rows x 3 columns]

In [88]:
fos_df['fos_w'].max()

0.95737

In [89]:
fos_df['fos_w'].min()

0.0

### Connessione al db

In [ ]:
#prova SQL
from sqlalchemy import *
conn_str = "postgresql://ugwyyplcxchfdq:7d70c3ca18fe8e70d10df5bbb98816fa96bf7c189877d24ad7033327d4e35dac@ec2-99-81-16-126.eu-west-1.compute.amazonaws.com:5432/d82grlfhq9ddvd"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()
fos_slice.to_sql(
    "fos",  #nome della tabella
    con=engine,
    if_exists='replace',
    method='multi',
    index=False,  #evito di scrivere nella tabella gli indici del dataframe come colonne
    
)
what_slice.to_sql(
    "what",  #nome della tabella
    con=engine,
    if_exists='replace',
    method='multi',
    index=False,  #evito di scrivere nella tabella gli indici del dataframe come colonne
    
)

### Connessione al db DBLP

In [90]:
#prova SQL locale
from sqlalchemy import *
conn_str = "postgresql://postgres:   @localhost:5432/DBLP"
engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()

In [91]:
fos.to_sql(
    "fos", 
    con=engine,
    if_exists='append',
    method='multi',
    index=False, 
    
)

132337

In [92]:
what.to_sql(
    "what", #nome della tabella
    con=engine,
    if_exists='append',
    method='multi',
    chunksize=10000,
    index=False, #evito di scrivere nella tabella gli indici del dataframe come colonne
    
)

45029748

In [93]:
connection.close()

## DA TOGLIERE 4)Creo il dataFrame reference

In [ ]:
#creo un dataframe vuoto
reference_df=pd.DataFrame()

In [ ]:
#leggo il json per chunk, itero sui chunk e chiamo la funzione readJsonChunk, creo il dataframe con le colonne date da tutte le chiavi all'interno della 
#chiave '_source', elimino le colonne che non mi interessano
with open ('/content/drive/MyDrive/dblp1.json') as f:
  chunks=pd.read_json(f, lines=True, chunksize=10000) 
  for chunk in chunks:
    source_df=readJsonChunk(chunk,'_source',)
    source_df.drop(['authors', 'fos', 'title', 'year','doc_type','doi','issue','n_citation','page_start','page_end', 'publisher','volume', 'abstract', 'venue.raw','venue.id','venue.type','author.id','author.name','author.org','alias_ids','fos.name','fos.w'], axis=1, inplace=True)
    reference_df=pd.concat([reference_df,source_df], ignore_index=True) 
    break

In [ ]:
reference_df

,id,references,nb_references
0,339090091,,0
1,339107753,"[1576770735, 2013747113, 2015585705, 202096941...",10
2,339147017,"[1990643081, 1998297310, 2022049687, 203079886...",8
3,339159418,,0
4,337814053,,0
...,...,...,...
9995,141103848,,0
9996,141116944,"[2053095258, 2062562944]",2
9997,141127911,,0
9998,141128058,,0
9999,141140491,,0

In [ ]:
#seleziono solo le righe che hanno almeno una reference, ossia quelle per cui nb_reference!=0
reference_mask=reference_df['nb_references']!=0
reference_df=reference_df[reference_mask]

In [ ]:
reference_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5880 entries, 1 to 9996
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             5880 non-null   int64
 1   references     5880 non-null   object
 2   nb_references  5880 non-null   int64
dtypes: int64(2), object(1)
memory usage: 183.8+ KB

In [ ]:
#creo il dataframe per reference tramite il metodo explode per trasformare ogni elemento della lista di reference in una riga del dataframe
#con il relativo id associato
reference=reference_df.explode('references',ignore_index=True)

In [37]:
#elimino la colonna nb_reference
reference.drop(['nb_references'], axis='columns',inplace=True)

In [ ]:
reference

              id  references
0      339107753  1576770735
1      339107753  2013747113
2      339107753  2015585705
3      339107753  2020969418
4      339107753  2042562411
...          ...         ...
65128  141094298  2169551590
65129  141094298  2337319582
65130  141094298  2544610656
65131  141116944  2053095258
65132  141116944  2062562944

[65133 rows x 2 columns]

###Divido il dataframe reference in slice

In [ ]:
reference_slice=reference[0:1000]

###Connessione al db

In [ ]:
#prova SQL
from sqlalchemy import *
conn_str = "postgresql://ugwyyplcxchfdq:7d70c3ca18fe8e70d10df5bbb98816fa96bf7c189877d24ad7033327d4e35dac@ec2-99-81-16-126.eu-west-1.compute.amazonaws.com:5432/d82grlfhq9ddvd"

engine = create_engine(conn_str)
connection = engine.connect()
metadata = MetaData()
reference_slice.to_sql(
    "reference",  #nome della tabella
    con=engine,
    if_exists='replace',
    method='multi',
    index=False,  #evito di scrivere nella tabella gli indici del dataframe come colonne
)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)